/*==========  catalog  ==========*/
.js-tab-content {
  display: none;
  -webkit-transition: .3s ease;
  transition: .3s ease; }
  .js-tab-content.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

.js-tab-trigger.active {
  -webkit-box-shadow: 0 10px 21px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 21px 0 rgba(0, 0, 0, 0.2);
  border: solid 2px #00a4e5;
  background-color: #fff; }

/*==========  catalog end  ==========*/
/*==========  completed-objects page  ==========*/
.completed-objects-box {
  width: 100%;
  position: relative;
  z-index: 1;
  color: #fff;
  font-size: 16px; }
  .completed-objects-box:hover {
    color: #fff; }
    .completed-objects-box:hover .completed-objects-box__body {
      opacity: 1; }
  .completed-objects-box img {
    width: 100%; }
  .completed-objects-box__body {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    padding: 50px 45px;
    background: rgba(0, 0, 0, 0.8);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    opacity: 0; }
    .completed-objects-box__body:before {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      width: calc(100% - 50px);
      height: calc(100% - 50px);
      z-index: -1;
      border: solid 6px rgba(255, 255, 255, 0.15); }
  .completed-objects-box__name {
    font-size: 24px;
    text-transform: uppercase;
    margin: 0 0 auto; }
  .completed-objects-box__characteristics {
    color: #e8e8e8; }
    .completed-objects-box__characteristics span {
      display: block; }

.table-requisites {
  font-size: 15px; }
  .table-requisites td {
    padding: 10px 14px;
    text-align: left; }
  .table-requisites tr:nth-child(even) td {
    background: #f5f5f5; }

/*==========  completed-objects page end  ==========*/
/*==========  object page  ==========*/
.object-gallery {
  width: 100%; }

.object-gallery-max {
  width: 100%; }

.object-gallery-preview {
  width: 100%;
  padding: 0 28px; }
  .object-gallery-preview .slide {
    padding: 0 8px;
    cursor: pointer; }

.slick-prev-blue, .slick-next-blue {
  width: 16px;
  height: 25px; }
  .slick-prev-blue:hover, .slick-next-blue:hover {
    opacity: .7; }

.slick-prev-blue {
  background: url("../img/left-arrow.svg") no-repeat center;
    background-size: 100%;
  left: 0; }

.slick-next-blue {
  background: url("../img/right-arrow.svg") no-repeat center;
    background-size: 100%;
  right: 0; }

.object-gallery-preview__item {
  max-width: 100px;
  width: 100%;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  border: 2px solid transparent;
  margin: 30px auto; }
  .object-gallery-preview__item:hover {
    -webkit-box-shadow: 0px 10px 21px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0px 10px 21px 0 rgba(0, 0, 0, 0.2);
    border: solid 2px #00a4e5;
    background: #fff; }

.details-info {
  width: 100%;
  margin: 100px 0 40px; }

.list-characteristics li {
  position: relative;
  margin: 0 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .list-characteristics li:last-child {
    margin: 0; }
  .list-characteristics li:before {
    content: '. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ';
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    overflow: hidden;
    letter-spacing: 0.65px;
    white-space: nowrap;
    font-size: 13px;
    color: #cac9c9;
    width: 100%; }
  .list-characteristics li p, .list-characteristics li span {
    display: inline-block;
    background: #fff;
    position: relative;
    z-index: 1; }
  .list-characteristics li span {
    width: 68%;
    margin: 0 0 0 auto; }
  .list-characteristics li p {
    font-weight: bold; }

.object-advantages {
  width: 100%; }

.object-advantages-box {
  width: 100%;
  text-align: center;
  margin: 0 auto 35px;
  font-size: 19px; }
  .object-advantages-box__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 66px;
    margin: 0 auto 18px; }
    .object-advantages-box__icon img {
      max-height: 100%; }
  .object-advantages-box strong {
    display: block; }

sup {
  font-size: 14px; }

.btn-to-order {
  margin: 0 auto 0;
  max-width: 220px;
  padding: 0;
  font-size: 14px;
  width: 100%; }

.btn-scroll-details {
  margin: 79px auto 0;
  text-align: center;
  font-size: 16px;
  color: #666; }
  .btn-scroll-details:hover {
    color: #00a4e5; }
  .btn-scroll-details img {
    margin: 17px auto 0; }

/*==========  object page end  ==========*/
/*==========  product page  ==========*/
.product-information {
  width: 100%;
  padding: 0 0 0 45px; }

.price-product {
  width: 100%;
  text-align: center;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #e8e8e8;
  font-size: 22px;
  color: #222;
  margin: 0 0 20px; }
  .price-product p {
    color: #00a4e5;
    margin: 0 5px 0 0;
    display: inline-block;
    font-weight: bold; }

.button-group {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .button-group .btn {
    width: calc(50% - 10px); }

.product-information-box {
  margin: 15px 0 0; }
  .product-information-box__title {
    margin: 0 0 15px;
    font-size: 20px;
    color: #222; }
  .product-information-box .list-characteristics {
    font-size: 18px; }
    .product-information-box .list-characteristics li:before {
      display: none; }
    .product-information-box .list-characteristics li span {
      width: 55%;
      padding: 0 0 0 23px; }
    .product-information-box .list-characteristics li p {
      width: 45%;
      min-width: auto;
      color: #00a4e5;
      font-weight: normal; }

.list-options {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 15px; }
  .list-options li {
    padding: 0 8px;
    height: 35px;
    color: #222;
    border: solid 1px #e8e8e8;
    margin: 0 11px 5px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    cursor: pointer;
    -webkit-transition: .3s ease;
    transition: .3s ease; }
    .list-options li:last-child {
      margin: 0 0 5px; }
    .list-options li.active {
      border-color: #00a4e5; }
      .list-options li.active .list-options__img {
        border-color: #00a4e5; }

.list-options-materials {
  text-align: center;
  font-size: 15px; }
  .list-options-materials li {
    height: auto;
    margin: 0 5px 5px 0;
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: none; }
    .list-options-materials li:last-child {
      margin: 0 0 5px 0; }

.list-options__img {
  border: 2px solid transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto 10px;
  width: 60px;
  height: 60px;
  -webkit-transition: .3s ease;
  transition: .3s ease; }
  .list-options__img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.manager-box {
  width: 100%;
  max-width: 194px;
  text-align: center;
  color: #222; }
  .manager-box__photo {
    width: 100%;
    height: 193px;
    overflow: hidden; }
    .manager-box__photo img {
      height: 100%;
      width: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
  .manager-box__body {
    width: 100%;
    padding: 18px 10px;
    background: #f6f6f6; }
  .manager-box__name {
    font-size: 24px;
    line-height: 1.17; }
  .manager-box .position {
    margin: 5px auto 0; }

.tab-content-product {
  width: 100%;
  padding: 20px 30px 28px; }

.nav-tabs-products {
  border: none;
  margin: 0 0 -4px;
  position: relative;
  z-index: 1;
  font-size: 18px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }
  .nav-tabs-products .nav-item {
    margin: 0 3px 0 0; }
    .nav-tabs-products .nav-item:last-child {
      margin: 0; }
  .nav-tabs-products .nav-link {
    padding: 11px 33px;
    border: 4px solid #00a4e5;
      border-bottom: none;
    margin: 0;
    background: #00a4e5;
    color: #fefefe; }
    .nav-tabs-products .nav-link:hover {
      border-color: #00a4e5; }
    .nav-tabs-products .nav-link:before {
      display: none; }
    .nav-tabs-products .nav-link.active {
      border: 4px solid #00a4e5;
        border-bottom: none;
      background: #fff; }

.product-description {
  margin: 83px 0 0;
  width: 100%; }
  .product-description .tab-content {
    border: solid 4px #00a3e2; }
  .product-description .certificate-item {
    max-width: 106px;
    height: 150px;
    border: none;
    margin: 0 auto 45px; }
  .product-description .tab-content-equipment {
    border: none; }

.characteristics-product-wrapper {
  position: relative;
  width: 100%;
  padding: 11px 14px 62px; }

.characteristics-product-total {
  -webkit-box-shadow: 0px -5px 8px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0px -5px 8px 0 rgba(0, 0, 0, 0.16);
  background-color: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 3px 0; }
  .characteristics-product-total .table-product tbody tr:nth-child(odd) td {
    background: #fff; }

.table-product {
  margin: 0;
  font-size: 14px; }
  .table-product thead {
    background: transparent; }
    .table-product thead th {
      font-weight: bold;
      color: #00a4e5;
      text-align: left;
      border: none;
      background: transparent;
      padding: 8px 10px; }
  .table-product td {
    text-align: left;
    border: none;
    padding: 8px 10px; }
    .table-product td:first-child {
      width: 20%;
      color: #00a4e5;
      font-size: 16px; }
    .table-product td:nth-child(2) {
      width: 40%; }
    .table-product td:last-child {
      width: 40%; }
  .table-product tbody tr:nth-child(odd) td {
    background: #f5f5f5; }

.table-product-info {
  position: relative; }
  .table-product-info:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 40%;
    left: 20%;
    top: 0;
    border: solid 2px #00a3e2;
    background-color: rgba(0, 163, 226, 0.3); }

.total-sum-product {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .total-sum-product .btn {
    margin: 0 0 0 45px;
    height: 36px;
    font-size: 14px;
    padding: 0 18px; }

.total-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold; }
  .total-price p {
    margin: 0 5px 0 0;
    color: #00a4e5; }

.tab-content-equipment {
  max-height: 908px;
  overflow-y: auto; }
  .tab-content-equipment .nav-tabs-products-equipment__links {
    display: none; }

.table-equipment {
  border: none;
  margin: 0;
  text-align: left;
  color: #666;
  font-size: 16px; }
  .table-equipment td {
    color: #666;
    font-size: 16px;
    text-align: left;
    border: none;
    padding: 10px; }

.nav-tabs-products-equipment {
  width: 100%;
  font-size: 18px; }
  .nav-tabs-products-equipment .nav-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding: 11px 21px;
    text-transform: uppercase;
    border: 1px solid transparent;
    margin: 0 0 10px;
    color: #222; }
    .nav-tabs-products-equipment .nav-link:hover {
      border-color: #dedede; }
    .nav-tabs-products-equipment .nav-link__icon {
      max-width: 40px;
      min-width: 40px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin: 0 10px 0 0; }
    .nav-tabs-products-equipment .nav-link.active {
      border: solid 1px #dedede;
      color: #222; }

.nav-tabs-products-equipment__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 11px 21px;
  text-transform: uppercase;
  border: 1px solid transparent;
  margin: 0 0 10px;
  color: #222; }
  .nav-tabs-products-equipment__links:hover {
    border-color: #dedede;
    color: #222; }
  .nav-tabs-products-equipment__links .nav-link__icon {
    max-width: 40px;
    min-width: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 10px 0 0; }
  .nav-tabs-products-equipment__links.active {
    border: solid 1px #dedede;
    color: #222; }

/*==========  product page end  ==========*/
/*==========  category page  ==========*/
.category-page .nav-pagination {
  margin: 24px auto 48px; }

.category-wrapper-sub {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.category-item-sub .category-item__img {
  height: 135px; }

.form-catalog-filter {
  width: 100%;
  margin: 0 0 18px; }

.filter-category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.filter-category-item {
  border: solid 1px #e8e8e8;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  padding: 10px 30px;
  margin: 0 3px 0 0;
  font-size: 14px;
  line-height: 1;
  color: #666;
  cursor: pointer;
  -webkit-transition: .3s ease;
  transition: .3s ease; }
  .filter-category-item.active {
    color: #fff;
    background: #00a4e5;
    border: 1px solid #00a4e5;
      border-bottom: 1px solid #000; }

.filter-checked {
  width: 100%;
  background: #fff;
  border: 10px solid #f6f6f6;
  padding: 7px 10px;
  display: none; }
  .filter-checked.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }

.filter-checked-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 30px 0 0;
  position: relative;
  color: #666;
  font-size: 16px;
  text-transform: uppercase;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content; }
  .filter-checked-label input[type='radio'] {
    display: none; }
  .filter-checked-label:before {
    content: '';
    position: absolute;
    background: url("../img/arrow_catalog.svg") no-repeat center;
      background-size: 100%;
    width: 5px;
    height: 9px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    left: 0; }
  .filter-checked-label > span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 4px 0 4px 10px;
    border: 1px solid transparent;
    -webkit-transition: .3s ease;
    transition: .3s ease; }
    .filter-checked-label > span.active {
      border: 1px solid #e8e8e8;
      -webkit-box-shadow: 0 4px 10px 0 rgba(30, 30, 36, 0.22);
              box-shadow: 0 4px 10px 0 rgba(30, 30, 36, 0.22);
      border-radius: 3px;
      padding: 4px 16px;
      color: #666; }
  .filter-checked-label.click:before {
    display: none; }

.remove-filter {
  margin: 0 0 0 7px;
  color: #222; }

.category-card {
  margin: 0 0 30px;
  position: relative;
  width: 100%;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  padding: 18px 14px;
  border: 2px solid transparent;
  background: #fff;
  z-index: 1; }
  .category-card:before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -15px;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    height: 1px;
    width: calc(100% + 34px);
    background: #e8e8e8;
    z-index: -1; }
  .category-card:hover {
    border-color: #00a4e5;
    -webkit-box-shadow: 0 10px 21px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 10px 21px 0 rgba(0, 0, 0, 0.2); }
    .category-card:hover .category-card__title {
      color: #00a4e5;
      text-decoration: underline; }
    .category-card:hover .category-card-slider-image .slick-arrow {
      opacity: 1; }
    .category-card:hover .btn {
      -webkit-box-shadow: 0px 9px 14px 0 rgba(0, 0, 0, 0.19);
              box-shadow: 0px 9px 14px 0 rgba(0, 0, 0, 0.19); }
  .category-card__title {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    font-size: 24px;
    color: #222; }
  .category-card .product-information-box {
    margin: 0 0 10px; }
    .category-card .product-information-box:last-child {
      margin: 0; }
  .category-card .product-information-box__title {
    margin: 0 0 11px; }
  .category-card .list-options li {
    margin: 0 8px 8px 0; }
  .category-card .list-options__img {
    width: 35px;
    height: 35px; }
  .category-card__footer {
    margin: 20px 0 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .category-card__body .row {
    margin: 0; }
  .category-card__body .col-12 {
    padding: 0; }

.btn-order-product {
  max-width: 256px;
  width: 100%; }

.category-card-md .btn-order-product {
  max-width: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 25px; }

.category-card-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 22px;
  color: #222; }
  .category-card-price p {
    font-weight: bold;
    color: #00a4e5;
    margin: 0 5px 0 0; }

.category-card-slider-image {
  width: 100%;
  margin: 50px auto; }
  .category-card-slider-image .slick-arrow {
    opacity: 0; }
  .category-card-slider-image .slick-next {
    right: 0; }
  .category-card-slider-image .slick-prev {
    left: 0; }
  .category-card-slider-image__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 337px;
    width: 100%;
    height: 268px;
    margin: 0 auto; }
    .category-card-slider-image__item img {
      max-height: 100%; }

.category-card-characteristics {
  margin: 15px 0 0;
  width: 100%;
  border: solid 1px #d9d9d9;
  background: #f2f2f2; }
  .category-card-characteristics .card-body {
    padding: 8px 9px 10px;
    border: none;
      border-radius: 0;
    background: transparent; }
  .category-card-characteristics .list-characteristics {
    font-size: 16px;
    color: #222;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .category-card-characteristics .list-characteristics li {
      width: 50%;
      display: block; }
      .category-card-characteristics .list-characteristics li p {
        font-weight: normal;
        margin: 0 5px 0 0;
        color: #00a4e5; }
      .category-card-characteristics .list-characteristics li p, .category-card-characteristics .list-characteristics li span {
        padding: 0;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        background: transparent;
        display: inline; }
      .category-card-characteristics .list-characteristics li:before {
        display: none; }

.links-collapse {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 7px 9px;
  color: #777; }
  .links-collapse:hover {
    color: #00a4e5; }
  .links-collapse:after {
    content: '+';
    -webkit-transition: .3s ease;
    transition: .3s ease;
    font-size: 18px; }
  .links-collapse.collapsed:after {
    content: '-'; }

.consultation-box {
  background: #00a4e5;
  color: #fff;
  margin: 0; }
  .consultation-box .consultation-header {
    background: transparent;
    padding: 26px 10px 24px; }
    .consultation-box .consultation-header h3 {
      font-weight: bold;
      font-size: 30px;
      text-transform: uppercase;
      text-align: center; }
      .consultation-box .consultation-header h3 span {
        display: block; }
  .consultation-box .consultation-body {
    padding: 0 46px 32px;
    background: transparent; }
  .consultation-box button {
    height: 50px;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 18px; }
  .consultation-box .form-consultation label {
    max-width: none;
    width: 100%;
    margin: 0 0 14px; }
  .consultation-box .form-consultation .checkbox {
    font-size: 15px;
    letter-spacing: 0.38px;
    line-height: 1.33;
    margin: 0 0 24px; }
  .consultation-box .checkbox-custom {
    background: #fff; }
    .consultation-box .checkbox-custom:before {
      background: url("../img/check.svg") no-repeat center;
        background-size: 100%; }

.projects {
  margin: 54px 0 140px; }

.projects-slider {
  margin: 0 0 48px;
  position: relative;
  padding: 0 25px; }
  .projects-slider .slick-arrow {
    z-index: 2; }
  .projects-slider .slick-prev {
    left: 0; }
  .projects-slider .slick-next {
    right: 0; }
  .projects-slider .slick-slide {
    padding: 0 4px; }
  .projects-slider__item {
    border-radius: 3px;
    border: solid 1px #e8e8e8;
    width: 260px;
    height: 172px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .projects-slider__item img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }

.projects-text {
  margin: 0 0 100px; }
  .projects-text:last-child {
    margin: 0; }
  .projects-text__title {
    margin: 0 0 20px;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 1;
    color: #222;
    padding: 0 0 0 10px;
    border-left: 3px solid #e71f29; }
  .projects-text .list-options li {
    border: none;
    cursor: auto; }
    .projects-text .list-options li.active .list-options__img {
      border: none; }

.projects-text-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  color: #222;
  font-size: 20px; }
  .projects-text-list span {
    display: block;
    margin: 0 auto 14px; }
  .projects-text-list img {
    margin: 0 auto; }
  .projects-text-list li {
    margin: 0 40px 5px 0; }
    .projects-text-list li:last-child {
      margin: 0 0 5px; }

.size-list span {
  margin: 0;
  padding: 0 0 5px;
  border-bottom: 1px dotted #a0a0a0;
  line-height: 1; }

/*==========  category page end  ==========*/
/*==========  calculate page  ==========*/
.form-calculate {
  width: 100%; }

.form-step {
  width: 100%;
  margin: 0 0 40px; }
  .form-step .list-options-materials {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .form-step .list-options-materials li {
      margin: 0 25px 10px 0; }

.list-options-equipment li {
  height: 30px;
  min-width: 91px;
  padding: 0 10px;
  margin-bottom: 0; }
  .list-options-equipment li:last-child {
    margin: 0; }

.form-step-head {
  text-align: center;
  margin: 0 auto 50px; }
  .form-step-head h3 {
    width: 100%;
    font-size: 26px;
    color: #222; }

.form-step-title {
  background: #008cba;
  color: #fefefe;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto 25px;
  width: 70px;
  height: 70px;
  font-size: 18px; }

.form-body {
  width: 100%; }

.calculate-info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.radio {
  text-align: center;
  position: relative;
  z-index: 1;
  cursor: pointer;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  color: #666;
  font-size: 18px;
  margin: 0 25px 0 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content; }
  .radio:last-child {
    margin: 0; }

.inp-radio {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  padding: 0;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  border: 2px solid transparent;
    border-radius: 0; }

.inp-radio:checked {
  border-color: #0098e1; }

.calculate-info-item {
  padding: 37px;
  max-width: 350px;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  opacity: .5;
  border: solid 2px transparent;
  cursor: pointer;
  font-size: 18px; }
  .calculate-info-item:hover {
    opacity: 1; }
  .calculate-info-item__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 207px;
    margin: 0 auto 25px; }
    .calculate-info-item__img img {
      max-height: 100%; }
  .calculate-info-item.active {
    border: solid 2px #0098e1;
    background: #fff; }

.radio-finishing .list-options__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  width: 100px;
  height: 100px;
  border: 2px solid transparent;
  margin: 0 auto 10px;
  -webkit-transition: .3s ease;
  transition: .3s ease; }
  .radio-finishing .list-options__img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.total-configuration h3 {
  text-align: center;
  margin: 0 auto 30px;
  font-size: 26px;
  color: #222; }

.total-configuration-wrapper {
  width: 100%;
  color: #fff; }

.total-configuration-top {
  background: #00a3e2;
  padding: 49px 176px;
  font-size: 18px; }

.float-price {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 3; }

.total-configuration-bottom {
  padding: 15px 176px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #004d73;
  color: #fff; }
  .total-configuration-bottom .btn {
    height: 50px;
    font-size: 16px;
    padding: 0 56px;
    margin: 0 0 0 auto; }

.total-sum {
  font-size: 26px; }

.btn-add-option {
  background: #fff;
  border: solid 1px #009fe4;
    border-radius: 0;
  text-transform: none;
  padding: 0 45px;
  color: #222;
  font-size: 18px;
  height: 42px; }

.option-equipment {
  margin: 0 0 70px; }
  .option-equipment .list-options {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .option-equipment .radio-finishing {
    margin: 0 20px 10px 0; }
    .option-equipment .radio-finishing:last-child {
      margin-right: 0; }
    .option-equipment .radio-finishing .list-options__img {
      width: 60px;
      height: 60px; }
  .option-equipment .list-options-materials li {
    margin-right: 20px; }

.option-equipment-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .option-equipment-line p {
    margin: 0 20px 0 0;
    font-size: 20px;
    color: #222; }

.amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: solid 1px #e8e8e8;
  padding: 0 15px;
  max-width: 100px;
  width: 100%;
  height: 42px; }
  .amount input {
    border: none;
      border-radius: 0;
    padding: 0;
    height: 100%;
    text-align: center;
    width: 50px;
    font-size: 18px;
    color: #222; }
    .amount input::-webkit-input-placeholder {
      color: #222; }
    .amount input::-moz-placeholder {
      color: #222; }
    .amount input::-ms-input-placeholder {
      color: #222; }
    .amount input::placeholder {
      color: #222; }
  .amount span {
    font-size: 20px;
    display: block;
    cursor: pointer;
    color: #b1b1b1; }

.option-equipment-body {
  width: 100%; }

.option-equipment-total {
  margin: 30px 0;
  font-size: 15px; }
  .option-equipment-total span {
    color: #222; }

.partitions-radio {
  padding: 4px 18px;
  margin-right: 20px; }
  .partitions-radio .inp-radio {
    border: solid 1px #e8e8e8; }
    .partitions-radio .inp-radio:checked {
      border-color: #00a4e5; }

.hidden-block {
  display: none; }

.option-equipment-partitions .amount {
  margin: 22px 0 25px; }

.list-options-row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .list-options-row .radio-row {
    width: 50%;
    margin: 0 0 25px;
    height: auto;
    color: #666;
    font-size: 18px;
    border: none;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; }
    .list-options-row .radio-row .list-options__img {
      border: solid 1px #e8e8e8;
      width: 60px;
      height: 60px;
      min-width: 60px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      padding: 5px;
      -webkit-transition: .3s ease;
      transition: .3s ease;
      margin: 0 16px 0 0; }
      .list-options-row .radio-row .list-options__img img {
        max-height: 100%; }

.radio-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border: none;
  margin: 0 0 25px; }

.cal-scheme {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 40px 0; }

.scheme-wall {
  background-color: #f8fafb;
  -webkit-box-shadow: none;
          box-shadow: none; }

.sc-info {
  width: 100%; }

.bl-scheme {
  border: solid 12px #e1edf2 !important;
  margin: 0; }

.scheme-size-width {
  top: -50px; }
  .scheme-size-width:before, .scheme-size-width:after {
    content: '';
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    width: 0;
    height: 0; }
  .scheme-size-width:before {
    border-top: 5px solid transparent;
    border-right: 8px solid #c6c6c6;
    border-bottom: 5px solid transparent;
    left: -8px; }
  .scheme-size-width:after {
    border-top: 5px solid transparent;
    border-left: 8px solid #c6c6c6;
    border-bottom: 5px solid transparent;
    right: -8px; }

.cal-i-height-wrap {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .cal-i-height-wrap:before, .cal-i-height-wrap:after {
    content: '';
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    width: 0;
    height: 0; }
  .cal-i-height-wrap:before {
    top: -8px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid #c6c6c6; }
  .cal-i-height-wrap:after {
    bottom: -8px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 8px solid #c6c6c6; }
  .cal-i-height-wrap .scheme-size-width__line {
    width: 1px;
    height: 100%; }

.scheme-size-width__line {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  background-color: #c6c6c6;
  height: 1px; }

.scheme-doorway, .scheme-window {
  border-left: 1px solid #e8e8e8;
  border-right: 1px solid #e8e8e8;
  height: 12px; }

.scheme-doorway:before, .scheme-doorway:after {
  border: solid 1px #00a3e2; }

.scheme-window:before, .scheme-window:after {
  border: solid 1px #00a3e2; }

.doorway-bl:before, .doorway-bl:after {
  display: none; }

.window-glass:before, .window-glass:after {
  display: none; }

.doorway-door {
  border: solid 1px #00a3e2;
  top: 7px;
  border-left: none; }

.scheme-doorway {
  bottom: 3px; }

.scheme-window {
  top: 3px; }

.doorway-bl, .window-glass {
  background-color: #00a3e2;
  top: 6px; }

.scheme-size .jq-selectbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.scheme-size .jq-selectbox__trigger {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.scheme-size .jq-selectbox__trigger-arrow {
  border-top: 5px solid #666; }

.scheme-size .jq-selectbox__select {
  font-family: "PT Sans Narrow", sans-serif;
  height: 30px;
  border-color: #e8e8e8;
  padding: 0 0 0 15px;
  text-align: left;
  width: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #666;
  font-size: 18px; }

.scheme-size .jq-selectbox {
  text-align: center; }
  .scheme-size .jq-selectbox li {
    padding: 4px 10px;
    font-size: 18px;
    font-family: "PT Sans Narrow", sans-serif; }

.jq-selectbox, .jq-select-multiple {
  position: relative;
  display: inline-block; }

.jq-selectbox select, .jq-select-multiple select {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  opacity: 0; }

.jq-selectbox li, .jq-select-multiple li {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap; }

.jq-selectbox {
  z-index: 3; }

.jq-selectbox__select {
  position: relative; }

.jq-selectbox__select-text {
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  text-overflow: ellipsis; }

.jq-selectbox__dropdown {
  position: absolute; }

.jq-selectbox__search input {
  -webkit-appearance: textfield; }
  .jq-selectbox__search input::-webkit-search-cancel-button, .jq-selectbox__search input::-webkit-search-decoration {
    -webkit-appearance: none; }

.jq-selectbox__dropdown ul {
  position: relative;
  overflow: auto;
  overflow-x: hidden;
  list-style: none;
  -webkit-overflow-scrolling: touch; }

.jq-selectbox {
  vertical-align: middle;
  cursor: pointer; }

.jq-selectbox__select {
  height: 32px;
  padding: 0 45px 0 10px;
  border: 1px solid #CCC;
  border-bottom-color: #B3B3B3;
  border-radius: 4px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#E6E6E6));
  background: linear-gradient(#FFF, #E6E6E6);
  -webkit-box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
  font: 14px/32px Arial, sans-serif;
  color: #333;
  text-shadow: 1px 1px #FFF; }
  .jq-selectbox__select:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#F6F6F6), to(#E6E6E6));
    background: linear-gradient(#F6F6F6, #E6E6E6); }
  .jq-selectbox__select:active {
    background: #F5F5F5;
    -webkit-box-shadow: inset 1px 1px 3px #DDD;
            box-shadow: inset 1px 1px 3px #DDD; }

.jq-selectbox.focused .jq-selectbox__select {
  border: 1px solid #5794BF; }

.jq-selectbox.disabled .jq-selectbox__select {
  border-color: #CCC;
  background: #F5F5F5;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #888; }

.jq-selectbox__select-text {
  display: block;
  width: 100%; }

.jq-selectbox .placeholder {
  color: #888; }

.jq-selectbox__trigger {
  position: absolute;
  top: 0;
  right: 0;
  width: 34px;
  height: 100%;
  border-left: 1px solid #CCC; }

.jq-selectbox__trigger-arrow {
  position: absolute;
  top: 14px;
  right: 12px;
  width: 0;
  height: 0;
  border-top: 5px solid #999;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent; }

.jq-selectbox:hover .jq-selectbox__trigger-arrow {
  border-top-color: #000; }

.jq-selectbox.disabled .jq-selectbox__trigger-arrow {
  border-top-color: #AAA; }

.jq-selectbox__dropdown {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin: 2px 0 0;
  padding: 0;
  border: 1px solid #CCC;
  border-radius: 4px;
  background: #FFF;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  font: 14px/18px Arial, sans-serif; }

.jq-selectbox__search {
  margin: 5px; }
  .jq-selectbox__search input {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 5px 27px 6px 8px;
    border: 1px solid #CCC;
    border-radius: 3px;
    outline: none;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAMCAYAAABiDJ37AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAO1JREFUeNqU078LAXEYx/FzYfNzk5TJaFNKYjFYSQZ/hvwBsvg1UCY2xT9gM8hukQGThWRjkcFw3pdnujhfT736Xn2fPvfc3fd07V0OFDDFAnM0ENYsZRiGLSc9OpqIYIA9fMhhjCrW2h9VlMlcH/aymMGtOqEugX08PwQucUZKdTozMIqdTc9WepQD7wjY9ARx+ydwhfyXfS+S0qMcOEQJGcueB3VccFINdMgal6NzkmPjRwJXxDBB7/2RDdtAp6wb+dpphHDASG5QQ0V6u2aoSqBZD/lDrNWRJynLK2qpBn4rc6K2XB9/Nb8EGABtf1thzY6X2AAAAABJRU5ErkJggg==") no-repeat 100% 50%;
    -webkit-box-shadow: inset 1px 1px #F1F1F1;
            box-shadow: inset 1px 1px #F1F1F1;
    color: #333; }

.jq-selectbox__not-found {
  margin: 5px;
  padding: 5px 8px 6px;
  background: #F0F0F0;
  font-size: 13px; }

.jq-selectbox ul {
  margin: 0;
  padding: 0; }

.jq-selectbox li {
  min-height: 18px;
  padding: 5px 10px 6px;
  color: #231F20; }
  .jq-selectbox li.selected {
    background-color: #A3ABB1;
    color: #FFF; }
  .jq-selectbox li:hover {
    background-color: #08C;
    color: #FFF; }
  .jq-selectbox li.disabled {
    color: #AAA; }
    .jq-selectbox li.disabled:hover {
      background: none; }
  .jq-selectbox li.optgroup {
    font-weight: bold; }
    .jq-selectbox li.optgroup:hover {
      background: none;
      color: #231F20;
      cursor: default; }
  .jq-selectbox li.option {
    padding-left: 25px; }

/*==========  calculate page end  ==========*/
