/*==========  header  ==========*/
header {
  background: #fff;
  width: 100%;
  padding: 0 0 12px; }

.header-top {
  padding: 9px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #ffe14d; }
  .header-top p {
    font-weight: bold;
    margin: 0 12px 0 0; }

.home-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto 0 0;
  text-transform: uppercase;
  font-weight: bold; }
  .home-menu li {
    margin: 0 30px 0 0; }
    .home-menu li:last-child {
      margin: 0; }
    .home-menu li a {
      color: #222; }
      .home-menu li a:hover {
        color: #e71f29; }
    .home-menu li .color-red {
      color: #e71f29; }

.header-center {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 22px 0 9px;
  font-size: 18px; }

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.logo-box {
  margin: 0 auto 0 0; }
  .logo-box__text {
    margin: 2px 0 0;
    color: #008cba;
    font-size: 17px; }

.location-links {
  font-size: 18px;
  color: #00a4e5;
  padding: 0 0 1px;
  border-bottom: 1px dotted #00a4e5; }
  .location-links:hover {
    color: #ffe14d; }

.location-box {
  position: relative; }

.location-dropdown {
  position: absolute;
  left: -20px;
  margin: 38px 0 0;
  z-index: 5;
  background: #fff;
  padding: 33px 115px 26px 22px;
  border-radius: 10px;
  -webkit-filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
          filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
  white-space: nowrap; }
  .location-dropdown:before {
    content: '';
    position: absolute;
    border-bottom: 38px solid #fff;
    border-left: 22px solid transparent;
    border-right: 22px solid transparent;
    top: -38px;
    left: 38px; }
  .location-dropdown h4 {
    font-size: 18px;
    margin: 0 0 20px; }
  .location-dropdown__line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .location-dropdown__line a {
      margin: 0 22px 0 0; }
      .location-dropdown__line a:last-child {
        margin: 0; }

.header-box {
  margin: 0 auto; }
  .header-box .schedule-box__text {
    display: none; }

.header-box-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 10px;
  color: #222;
  font-size: 18px; }
  .header-box-links:hover {
    color: #00a4e5; }
  .header-box-links:last-child {
    margin: 0; }
  .header-box-links__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 14px 0 0;
    width: 26px;
    min-width: 26px; }

.schedule-box {
  margin: 0 43px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }
  .schedule-box__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 11px 0 0;
    width: 26px;
    min-width: 26px; }
  .schedule-box p {
    margin: 0 0 12px; }
    .schedule-box p:last-child {
      margin: 0; }

.btn-consultation {
  height: 36px;
  padding: 0 42px;
  font-size: 14px; }

.header-bottom {
  width: 100%;
  background: #e8e8e8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.search-wrapper {
  margin: 0 5px 0 auto;
  max-width: 278px;
  width: 100%;
  position: relative; }

.form-search {
  position: relative; }
  .form-search input {
    background: #fff;
    height: 32px;
    padding: 0 25px 0 12px;
    font-size: 15px;
    color: #666;
    border: none;
      border-radius: 0; }
    .form-search input::-webkit-input-placeholder {
      color: #666; }
    .form-search input::-moz-placeholder {
      color: #666; }
    .form-search input::-ms-input-placeholder {
      color: #666; }
    .form-search input::placeholder {
      color: #666; }
  .form-search button {
    position: absolute;
    width: 13px;
    height: 13px;
    right: 12px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    background: transparent; }
  .form-search label {
    margin: 0; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-transform: uppercase;
  font-size: 15px; }
  .menu > li > a {
    padding: 10px 19px;
    color: #222;
    position: relative; }
    .menu > li > a:before {
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      -webkit-transform: translate(0, -50%);
              transform: translate(0, -50%);
      background: #fff;
      width: 2px;
      height: 20px;
      -webkit-transition: .3s ease;
      transition: .3s ease; }
    .menu > li > a:hover {
      color: #00a4e5; }
  .menu > li:last-child a:before {
    display: none; }
  .menu .dropdown:hover > a {
    background: #00a7e6;
    color: #fff; }
    .menu .dropdown:hover > a:before {
      opacity: 0; }
  .menu .dropdown:hover .dropdown-menu-my {
    display: block; }

.dropdown-menu-my {
  margin: 1px 0 0;
  border: none;
    border-radius: 0;
  min-width: 276px;
  list-style-type: none;
  padding: 0;
  background: #00a7e6;
  font-size: 15px; }
  .dropdown-menu-my li {
    width: 100%;
    position: relative; }
    .dropdown-menu-my li a {
      width: 100%;
      color: #fff;
      padding: 10px 20px; }
      .dropdown-menu-my li a:hover {
        color: #fff; }
    .dropdown-menu-my li:hover > a {
      color: #fff;
      background: #004d73; }
    .dropdown-menu-my li:hover .dropdown-submenu {
      display: block; }
  .dropdown-menu-my ul {
    list-style: none;
    background: #00a7e6;
    font-size: 15px;
    min-width: 276px; }

.dropdown-submenu {
  position: absolute;
  left: 100%;
  top: 0;
  background: #00a7e6;
  display: none; }

.search-dropdown {
  width: 100%;
  left: 0;
  background: #fff;
  z-index: 2;
  padding: 17px 7px 22px 17px;
  -webkit-box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 100%;
  margin: 5px 0 0;
  display: none; }

.search-item {
  margin: 0 0 26px;
  font-size: 15px;
  color: #666; }
  .search-item:last-child {
    margin: 0; }
  .search-item h4 {
    margin: 0 0 13px;
    width: 100%; }

.search-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #666;
  margin: 0 0 13px; }
  .search-links__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 11px 0 0;
    min-width: 30px;
    max-width: 30px; }
  .search-links:last-child {
    margin: 0; }
  .search-links:hover {
    color: #00a4e5; }

.popular-cities {
  margin: 27px 0 33px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.popular-cities-item {
  color: #00a4e5; }
  .popular-cities-item:hover {
    color: #ffe14d; }

.cities-column-item {
  margin: 0 0 30px; }

.letter {
  font-weight: bold;
  margin: 0 0 5px;
  width: 100%; }

.cities-column-links {
  text-decoration: underline;
  color: #818181;
  margin: 0 0 5px; }
  .cities-column-links:last-child {
    margin: 0; }
  .cities-column-links:hover {
    color: #00a4e5; }

.btn-burger {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
  margin: 0 9px 0 0;
  background: #e8e8e8 url("../img/menu.svg") no-repeat center;
    background-size: 19px;
  border-radius: 3px;
  width: 34px;
  height: 34px;
  min-width: 34px; }
  .btn-burger.trigger {
    background: #e8e8e8 url("../img/close-menu.svg") no-repeat center;
      background-size: 13px; }

.header-fixed {
  padding-top: 150px; }

.fixed {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 5;
  padding: 0;
  -webkit-box-shadow: 0px 17px 18px 0 rgba(0, 0, 0, 0.13);
          box-shadow: 0px 17px 18px 0 rgba(0, 0, 0, 0.13); }
  .fixed .header-top {
    display: none; }
  .fixed .header-bottom {
    display: none;
    margin: 0 0 10px; }
  .fixed .btn-burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .fixed .logo-box__text, .fixed .mail, .fixed .schedule-box {
    display: none; }
  .fixed .header-center {
    padding: 8px 0; }
  .fixed .header-box-links {
    margin: 0; }
  .fixed .header-box-links__icon {
    width: 20px;
    min-width: 20px; }

/*==========  header end  ==========*/
/*==========  section  ==========*/
/*==========  section end  ==========*/
