/*==========  section home ==========*/
.home {
  margin: 13px 0 16px; }

.home-item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .home-item img {
    width: 100%; }

.home-slider .slick-arrow {
  width: 35px;
  height: 35px;
  border-radius: 50%; }

.home-slider .slick-prev {
  left: 24px;
  background: url("../img/slick-prev.png") no-repeat center;
    background-size: 100%; }

.home-slider .slick-next {
  right: 24px;
  background: url("../img/slick-next.png") no-repeat center;
    background-size: 100%; }

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-left: auto;
  max-width: 275px;
  width: 100%; }

.order-cabins h1 {
  text-align: center; }

.construction {
  margin: 14px 0 18px; }
  .construction h2 {
    margin: 0 0 14px; }

.btn-play {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
  max-width: 68px;
  width: 100%;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  opacity: .5; }
  .btn-play:hover {
    opacity: 1;
    -webkit-filter: none;
            filter: none; }

.video-wrapper {
  width: 100%;
  background: #e8e8e8;
  padding-top: 52.55%;
  position: relative; }
  .video-wrapper iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0; }

.video-row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .video-row .video-wrapper {
    width: calc(50% - 5px);
    padding-top: 29%; }

.video-col {
  width: calc(50% - 5px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .video-col .video-wrapper {
    padding-top: 28%;
    margin: 0 0 10px; }

.advantages-home {
  margin: 40px 0 0; }

.advantages-home-box {
  text-align: center;
  margin: 0 0 40px;
  font-size: 22px; }
  .advantages-home-box__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto 10px;
    height: 66px; }
    .advantages-home-box__icon img {
      max-height: 100%; }

.selling > .box-text {
  margin: 0 0 40px; }

.selling-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 0 49px;
  line-height: 1.88; }
  .selling-box__icon {
    margin: 10px 40px 0 0;
    width: 51px;
    min-width: 51px; }

.selling-cities {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 20px; }
  .selling-cities-row {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .selling-cities-row > p, .selling-cities-row a {
      margin: 0 0 30px;
      color: #666; }
      .selling-cities-row > p:hover, .selling-cities-row a:hover {
        color: #666; }

.selling-cities-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 30px;
  color: #666; }
  .selling-cities-box:hover {
    color: #666; }
  .selling-cities-box__icon {
    margin: 0 15px 0 0; }

.advantages {
  margin: 40px 0 0; }
  .advantages > .box-text {
    margin: 0 0 40px; }

.advantages-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  line-height: 1.56;
  margin: 0 0 30px; }
  .advantages-box__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-width: 43px;
    margin: 0 25px 0 0;
    max-width: 43px; }

/*==========  section home end  ==========*/
/*==========  section category ==========*/
.category-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.category-item {
  margin: 0 0 30px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  max-width: 180px;
  background: #fff;
  padding: 8px 11px 12px;
  text-align: center;
  color: #222;
  border: 2px solid transparent;
  -webkit-transition: .3s ease;
  transition: .3s ease; }
  .category-item__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100px;
    margin: 0 auto; }
    .category-item__img img {
      max-height: 100%;
      -webkit-transition: 1s ease;
      transition: 1s ease; }
  .category-item__name {
    color: #222;
    text-align: center;
    margin: 0 auto; }
  .category-item:hover {
    -webkit-box-shadow: 0px 10px 21px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0px 10px 21px 0 rgba(0, 0, 0, 0.2);
    border: solid 2px #00a4e5; }
    .category-item:hover .category-item__img img {
      -webkit-transform: scale3d(1.1, 1.1, 1);
              transform: scale3d(1.1, 1.1, 1); }
    .category-item:hover .category-item__name {
      color: #00a4e5; }

.subcategory-wrapper .category-item__name {
  min-height: 41px; }

/*==========  section category end  ==========*/
/*==========  section clients ==========*/
.clients {
  margin: 45px 0 0; }
  .clients h3 {
    font-size: 24px;
    text-transform: uppercase;
    width: 100%;
    margin: 0 0 40px; }

.clients-slider {
  margin: 0 0 44px;
  padding: 0 43px; }
  .clients-slider .slick-slide {
    padding: 0 13px; }
  .clients-slider .slick-arrow {
    width: 16px;
    height: 25px; }
    .clients-slider .slick-arrow:hover {
      opacity: .3; }
  .clients-slider .slick-prev {
    background: url("../img/left-arrow.svg") no-repeat center;
      background-size: 100%;
    left: 0; }
  .clients-slider .slick-next {
    background: url("../img/right-arrow.svg") no-repeat center;
      background-size: 100%;
    right: 0; }

/*==========  section end  ==========*/
/*==========  404  ==========*/
.error-page .box-text {
  text-align: center;
  margin: 0 auto;
  font-size: 18px; }

.error-image {
  width: 100%; }
  .error-image img {
    width: 100%; }

.links-home {
  font-size: 24px;
  margin: 26px auto 0; }

/*==========  404 end  ==========*/
/*==========  certificates  ==========*/
.certificate-item {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  border: solid 1px #e8e8e8; }
  .certificate-item img {
    width: 100%; }
  .certificate-item:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.68) url("../img/search+.png") no-repeat center;
      background-size: 24px;
    opacity: 0;
    -webkit-transition: .3s ease;
    transition: .3s ease; }
  .certificate-item:hover:before {
    opacity: 1; }

/*==========  certificates end  ==========*/
/*==========  certificates  ==========*/
.certificate-wrapper-content .item {
  display: none; }
  .certificate-wrapper-content .item:nth-child(-n+10) {
    display: block; }

/*==========  certificates end  ==========*/
/*==========  sales  ==========*/
.sales-page-item {
  width: 100%;
  margin: 0 0 50px; }
  .sales-page-item__title {
    margin: 0 0 20px;
    width: 100%;
    font-size: 24px; }
  .sales-page-item img {
    width: 100%; }

/*==========  sales end  ==========*/
/*==========  availability-page  ==========*/
.table td, .table th {
  vertical-align: middle;
  border: solid 1px #d9d9d9;
  text-align: center; }

.table td {
  background: #fff;
  padding: 10px 17px; }

.table th {
  background: #f2f2f2;
  text-align: center;
  vertical-align: middle; }

.table thead {
  border: none; }
  .table thead th {
    border: solid 1px #d9d9d9;
    padding: 9px 30px; }

.table tbody {
  border: none; }

.btn-order {
  margin: 0 auto; }

.availability-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 150px;
  width: 100%; }
  .availability-photo img {
    width: 100%; }

.description-text {
  max-width: 415px;
  text-align: left; }

/*==========  availability-page end  ==========*/
/*==========  reviews-page page  ==========*/
.reviews-page .video-reviews-col:nth-child(-n+6) {
  display: none; }

.reviews-page .video-reviews-col:nth-child(-n+4) {
  display: block; }

/*==========  reviews-page page end  ==========*/
/*==========  our-team-page  ==========*/
.our-team-page ul {
  margin: 30px 0 0; }

.company-faces {
  margin: 75px 0; }

.our-team-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -12px; }

.our-team-col {
  width: 100%;
  height: 180px;
  position: relative; }
  .our-team-col:hover {
    z-index: 1; }
    .our-team-col:hover .our-team-box {
      width: 394px;
      -webkit-box-shadow: 0 3px 21px 0 rgba(0, 0, 0, 0.2);
              box-shadow: 0 3px 21px 0 rgba(0, 0, 0, 0.2); }
      .our-team-col:hover .our-team-box__body {
        opacity: 1; }

.our-team-box {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: .7s ease;
  transition: .7s ease; }
  .our-team-box img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }
  .our-team-box__body {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    color: #fff;
    padding: 10px;
    border: 2px solid #00a4e5;
    font-size: 15px;
    opacity: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(#00a4e5));
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #00a4e5 100%); }
  .our-team-box__name {
    font-size: 18px;
    margin: 0 0 5px; }
  .our-team-box__slogan {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    padding: 9px 0 0;
    margin: 6px 0 0;
    line-height: 1.2; }

.company-faces .box-text {
  margin: 0 0 37px; }

/*==========  our-team-page end  ==========*/
/*==========  delivery  ==========*/
.nav-tabs {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 30px;
  border-bottom: 1px solid #e7e7e7;
  font-size: 20px; }
  .nav-tabs .nav-link {
    color: #222;
    padding: 0 70px 6px;
    border: none;
      border-radius: 0;
    position: relative;
    margin-bottom: -2px; }
    .nav-tabs .nav-link:before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      height: 3px;
      background: #00a4e5;
      -webkit-transition: .3s ease;
      transition: .3s ease; }
    .nav-tabs .nav-link.active {
      background: transparent;
      color: #222; }
      .nav-tabs .nav-link.active:before {
        width: 100%; }

.delivery-page .tab-content {
  font-size: 18px; }
  .delivery-page .tab-content .box-text {
    margin: 0 0 30px; }
  .delivery-page .tab-content h2 {
    color: #222;
    margin: 0 0 30px; }
  .delivery-page .tab-content span {
    margin: 20px 0 0;
    display: block; }

.map-wrapper {
  width: 100%;
  margin: 27px 0 0; }

/*==========  delivery end  ==========*/
/*==========  services page  ==========*/
.services-box {
  width: 100%;
  height: 100%;
  color: #222;
  font-size: 18px;
  text-align: center;
  background: #f6f6f6;
  border: 2px solid transparent; }
  .services-box__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 180px;
    width: 100%; }
    .services-box__img img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
  .services-box__body {
    display: block;
    width: 100%;
    padding: 18px 10px; }
  .services-box:hover {
    -webkit-box-shadow: 0px 10px 21px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0px 10px 21px 0 rgba(0, 0, 0, 0.2);
    border: solid 2px #00a4e5;
    color: #00a4e5;
    background: #fff; }

/*==========  services page end  ==========*/
/*==========  contacts page  ==========*/
.contacts-wrapper {
  margin: 0 0 60px;
  width: 100%;
  border: solid 5px rgba(232, 232, 232, 0.4);
  background: #fff;
  padding: 30px 70px; }

.contacts-box {
  text-align: center;
  font-size: 18px;
  color: #999999; }
  .contacts-box a {
    color: #242424;
    font-size: 22px;
    margin: 10px auto 0; }
    .contacts-box a:hover {
      color: #00a4e5; }
  .contacts-box__icon {
    margin: 0 auto 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .contacts-box__icon img {
      max-width: 26px;
      margin: 0 18px 0 0; }
      .contacts-box__icon img:last-child {
        margin: 0; }
  .contacts-box .list-subscribe-social {
    margin: 17px 0 0; }
    .contacts-box .list-subscribe-social li {
      margin: 0 7px 0 0; }
    .contacts-box .list-subscribe-social a {
      font-size: 14px;
      width: 33px;
      height: 33px;
      min-width: 33px;
      margin: 0; }
      .contacts-box .list-subscribe-social a:hover {
        color: #fff; }
  .contacts-box h3 {
    font-size: 22px;
    color: #222; }

.contacts-employees {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.employees-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 30px; }
  .employees-box__photo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
    border-radius: 50%;
    width: 165px;
    height: 165px; }
  .employees-box__body {
    width: calc(100% - 165px);
    padding: 0 0 0 28px; }
  .employees-box .position {
    font-size: 24px;
    color: #222; }
  .employees-box .name {
    margin: 10px 0 22px;
    font-size: 18px; }
  .employees-box-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #666; }
    .employees-box-links:hover {
      color: #00a4e5; }
    .employees-box-links__icon {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      max-width: 20px;
      min-width: 20px;
      margin: 0 7px 0 0; }

.branches {
  margin: 70px 0 88px; }

.branches-box {
  margin: 0 0 50px;
  font-size: 18px; }
  .branches-box__city {
    margin: 0 0 10px;
    color: #222;
    font-size: 24px; }
  .branches-box a.branches-box__city {
    color: #00a4e5;
    text-decoration: underline; }
  .branches-box__phone {
    color: #222;
    margin: 15px 0 0; }
    .branches-box__phone:hover {
      color: #00a4e5; }

.consultation h2 {
  margin: 0;
  padding: 14px 0;
  text-align: center;
  background: #00a4e5;
  color: #fff;
  text-transform: none;
  border-radius: 3px 3px 0 0; }

.consultation .box-text {
  text-align: center;
  margin: 0 auto 40px; }

.consultation-body {
  color: #fff;
  padding: 45px 53px;
  background: #343b42;
  border-radius: 0 0 3px 3px; }

.map-city {
  width: 100%;
  min-height: 650px; }

.scheme-contacts {
  margin: 0 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

/*==========  contacts page end  ==========*/
/*==========  repair page  ==========*/
.consultation-wrapper {
  border-radius: 3px;
  margin: 0 auto 45px;
  overflow: hidden;
  max-width: 862px;
  width: 100%; }
  .consultation-wrapper .form-consultation label {
    max-width: 368px;
    margin: 0 auto 30px; }
  .consultation-wrapper .form-consultation .checkbox {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .consultation-wrapper .form-consultation button {
    max-width: 368px; }

.consultation-header {
  width: 100%;
  background: #00a4e5;
  line-height: 1;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 24px;
  padding: 14px; }
  .consultation-header h3 {
    color: #fff; }
  .consultation-header img {
    margin: 0 10px 0 0; }

.repair-section {
  margin: 70px 0; }

.useful-details-img {
  width: 100%; }
  .useful-details-img img {
    width: 100%; }

/*==========  repair page end  ==========*/
/*==========  useful-page  ==========*/
.useful-box {
  width: 100%;
  margin: 0 0 30px;
  padding: 0 0 30px;
  border-bottom: 3px solid #e8e8e8; }
  .useful-box__footer {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 27px 0 0; }
  .useful-box__body {
    width: 100%;
    padding: 20px 0 0; }
  .useful-box__img {
    width: 100%;
    position: relative; }
  .useful-box__title {
    position: absolute;
    font-size: 30px;
    background: #fff;
    z-index: 1;
    color: #222;
    padding: 12px 16px;
    left: 0;
    top: 63px; }

.date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #00a4e5;
  font-size: 17px;
  margin: 0 0 20px; }
  .date-icon {
    margin: 0 9px 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

.share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .share p {
    margin: 0 9px 0 0; }

.menu-right {
  width: 100%; }
  .menu-right__title {
    font-size: 24px;
    margin: 0 0 20px;
    color: #222; }
  .menu-right ul {
    line-height: 1.25;
    padding: 0 0 0 20px;
    margin: 0 0 30px; }
    .menu-right ul li {
      margin: 0 0 12px; }
      .menu-right ul li a {
        color: #666; }
        .menu-right ul li a:hover {
          color: #00a4e5; }
        .menu-right ul li a.active {
          color: #00a4e5; }
  .menu-right .tags-list {
    padding: 0;
    margin: 0;
    line-height: normal; }
    .menu-right .tags-list li {
      margin: 0 7px 7px 0; }
      .menu-right .tags-list li a {
        color: #222; }
  .menu-right .consultation-wrapper {
    margin: 43px 0 0;
    max-width: 277px; }
  .menu-right .consultation-header {
    padding: 14px 24px; }
  .menu-right .consultation-body {
    padding: 30px 24px; }
  .menu-right .form-consultation label {
    margin: 0 0 16px; }

.tags-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  font-size: 17px; }
  .tags-list li {
    margin: 0 7px 7px 0; }
    .tags-list li a {
      padding: 5px 14px;
      background: #e8e8e8;
      color: #222; }

.table-buying {
  font-size: 21px;
  border: none;
  margin: 0 0 45px; }
  .table-buying tr {
    border-bottom: 1px solid #00a4e5; }
    .table-buying tr:last-child {
      border: none; }
  .table-buying td {
    vertical-align: top;
    padding: 19px 15px;
    border: none;
      border-right: 1px solid #00a4e5; }
    .table-buying td:last-child {
      border: none; }
  .table-buying ol {
    text-align: left; }
    .table-buying ol img {
      margin: 0 5px -4px 3px;
      display: inline-block; }
  .table-buying .stage p {
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #009fe4;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: "PT Sans", sans-serif;
            flex-flow: "PT Sans", sans-serif; }
  .table-buying img {
    margin: 0 auto 14px; }

/*==========  useful-page end  ==========*/
/*==========  company page  ==========*/
.company-page .box-text {
  line-height: 1.33; }
  .company-page .box-text strong {
    color: #222; }

.company-photo img {
  width: 100%; }

.company-state {
  margin: 70px 0;
  width: 100%; }

.company-state-box {
  width: 100%;
  margin: 0 0 70px; }
  .company-state-box:last-child {
    margin: 0; }
  .company-state-box__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 0 30px;
    font-size: 24px;
    text-transform: uppercase;
    color: #222; }
    .company-state-box__title img {
      margin: 0 12px 0 0;
      max-width: 37px; }

.company-state-list li {
  position: relative;
  margin: 0 0 25px;
  padding: 0 0 0 50px;
  line-height: 30px; }
  .company-state-list li:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 39px;
    height: 40px; }
  .company-state-list li:last-child {
    margin: 0; }

.workshop:before {
  background: url("../img/workshop.svg") no-repeat center;
    background-size: 100%; }

.construction-and-tools:before {
  background: url("../img/construction-and-tools.svg") no-repeat center;
    background-size: 100%; }

.wood:before {
  background: url("../img/wood.svg") no-repeat center;
    background-size: 100%; }

.machine:before {
  background: url("../img/machine.svg") no-repeat center;
    background-size: 100%; }

.factory:before {
  background: url("../img/factory.svg") no-repeat center;
    background-size: 100%; }

.builder:before {
  background: url("../img/builder.svg") no-repeat center;
    background-size: 100%; }

.truck:before {
  background: url("../img/truck.svg") no-repeat center;
    background-size: 100%; }

.list-check li {
  margin: 0 0 20px;
  position: relative;
  padding: 0 0 0 25px; }
  .list-check li:before {
    content: '';
    position: absolute;
    left: 0;
    top: 8px;
    width: 15px;
    height: 11px;
    background: url("../img/check-symbol.svg") no-repeat center;
      background-size: 100%; }

.company-faces-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.company-faces-item {
  text-align: center;
  width: 25%;
  margin: 0 0 70px;
  font-size: 14px;
  color: #222;
  line-height: 1.43; }
  .company-faces-item__photo {
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: hidden;
    width: 164px;
    height: 164px;
    margin: 19px auto 0;
    background: rgba(224, 224, 224, 0.61); }

.company-state-faces {
  margin-bottom: 0; }

.company-state-history {
  margin: 0; }

.list-history {
  position: relative;
  padding: 5px 0; }
  .list-history:before {
    content: '';
    position: absolute;
    left: 6px;
    top: 0;
    height: 100%;
    width: 4px;
    background: #e1edf2;
    border-radius: 2px; }
  .list-history li {
    position: relative;
    padding: 0 0 0 30px;
    margin: 0 0 20px; }
    .list-history li:last-child {
      margin: 0; }
    .list-history li:before {
      content: '';
      position: absolute;
      left: 0;
      top: 5px;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background: #008cba; }

.logo-company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto 20px; }

/*==========  company page end  ==========*/
/*==========  production-page  ==========*/
.production-slider .slick-arrow {
  width: 16px;
  height: 25px; }
  .production-slider .slick-arrow:hover {
    opacity: .7; }

.production-slider .slick-prev {
  background: url("../img/left-arrow.svg") no-repeat center;
    background-size: 100%;
  left: 22px; }

.production-slider .slick-next {
  background: url("../img/right-arrow.svg") no-repeat center;
    background-size: 100%;
  right: 22px; }

.why-company {
  margin: 40px 0 100px; }

.why-company-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 40px; }

.why-company-box {
  text-align: center;
  text-transform: uppercase;
  padding: 27px 20px;
  font-size: 17px;
  color: #3d3d3d;
  line-height: 1.35;
  width: 20%;
  border: solid 1px #e8e8e8;
  margin: -0.5px; }
  .why-company-box__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 74px;
    margin: 0 auto 25px; }
    .why-company-box__icon img {
      max-height: 100%; }

/*==========  production-page end  ==========*/
/*==========  development-dynamics  ==========*/
.years-line {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 17px; }
  .years-line__item {
    color: #222;
    margin: 0 30px 0 0;
    line-height: 1; }
    .years-line__item:last-child {
      margin: 0; }
    .years-line__item:hover {
      color: #00a4e5; }
    .years-line__item.active {
      color: #00a4e5;
      font-size: 24px; }

.coverage-map {
  width: 100%; }
  .coverage-map img {
    width: 100%; }

.dynamics-work {
  width: 100%; }

.dynamics-work-item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 0 40px; }
  .dynamics-work-item__photo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: solid 5px #e8e8e8;
    width: 208px;
    height: 143px; }
    .dynamics-work-item__photo img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
  .dynamics-work-item:hover .dynamics-work-item__name {
    color: #666; }
  .dynamics-work-item__name {
    width: calc(100% - 208px);
    padding: 0 0 0 29px;
    color: #0097e1; }

.dynamic-history {
  margin: 80px 0 35px; }

.dynamic-history-box {
  padding: 0 0 0 21px;
  position: relative;
  margin: 0 0 65px;
  line-height: 1.75; }
  .dynamic-history-box:before {
    content: '';
    position: absolute;
    left: 0;
    top: 8px;
    width: 12px;
    height: 12px;
    background: url("../img/evolution-arrow.png") no-repeat center;
      background-size: 100%; }
  .dynamic-history-box p {
    max-width: 297px; }

/*==========  development-dynamics end  ==========*/
/*==========  useful-page   ==========*/
.content-box {
  margin: 0 0 30px;
  border: solid 3px #f5f5f5;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 20px 36px 20px 20px; }
  .content-box h3 {
    margin: 0 0 20px;
    font-size: 24px; }
  .content-box-list {
    font-size: 18px; }
    .content-box-list li {
      margin: 0 0 10px; }
      .content-box-list li:last-child {
        margin: 0; }
      .content-box-list li a {
        color: #222; }
        .content-box-list li a:hover {
          text-decoration: underline;
          color: #00a4e5; }
        .content-box-list li a.active {
          color: #00a4e5;
          text-decoration: underline; }

/*==========  useful-page end  ==========*/
.fixed-block-scroll.fix {
  margin: 0; }

.fixed-block-scroll.fix.stop {
  position: absolute;
  bottom: 0;
  top: auto; }
