/*==========  section home ==========*/
.home {
  margin: 13px 0 16px; }

.home-item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .home-item img {
    width: 100%; }

.home-slider .slick-arrow {
  width: 35px;
  height: 35px;
  border-radius: 50%; }

.home-slider .slick-prev {
  left: 24px;
  background: url("../img/slick-prev.png") no-repeat center;
    background-size: 100%; }

.home-slider .slick-next {
  right: 24px;
  background: url("../img/slick-next.png") no-repeat center;
    background-size: 100%; }

.banner {
  margin: 0 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.home-content {
  color: #666; }
  .home-content h2, .home-content h1 {
    color: #222; }

.order-cabins h1 {
  text-align: center; }

.construction {
  margin: 14px 0 18px; }
  .construction h2 {
    margin: 0 0 14px; }

.btn-play {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
  max-width: 68px;
  width: 100%;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  opacity: .5; }
  .btn-play:hover {
    opacity: 1;
    -webkit-filter: none;
            filter: none; }

.video-wrapper {
  width: 100%;
  background: #e8e8e8;
  padding-top: 52.55%;
  position: relative; }
  .video-wrapper iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0; }

.video-row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .video-row .video-wrapper {
    width: calc(50% - 5px);
    padding-top: 29%; }

.video-col {
  width: calc(50% - 5px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .video-col .video-wrapper {
    padding-top: 28%;
    margin: 0 0 10px; }

.advantages-home {
  margin: 40px 0 0; }

.advantages-home-box {
  text-align: center;
  margin: 0 0 40px;
  font-size: 22px; }
  .advantages-home-box__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto 10px;
    height: 66px; }
    .advantages-home-box__icon img {
      max-height: 100%; }

.selling > .box-text {
  margin: 0 0 40px; }

.selling-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 0 49px;
  line-height: 1.88; }
  .selling-box__icon {
    margin: 10px 40px 0 0;
    width: 51px;
    min-width: 51px; }

.selling-cities {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 20px; }
  .selling-cities-row {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .selling-cities-row > p {
      margin: 0 0 30px; }

.selling-cities-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 30px; }
  .selling-cities-box__icon {
    margin: 0 15px 0 0; }

.advantages {
  margin: 40px 0 0; }
  .advantages > .box-text {
    margin: 0 0 40px; }

.advantages-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  line-height: 1.56;
  margin: 0 0 30px; }
  .advantages-box__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-width: 43px;
    margin: 0 25px 0 0;
    max-width: 43px; }

/*==========  section home end  ==========*/
/*==========  section  ==========*/
/*==========  section end  ==========*/
/*==========  section  ==========*/
/*==========  section end  ==========*/
/*==========  section  ==========*/
/*==========  section end  ==========*/
/*==========  section  ==========*/
/*==========  section end  ==========*/
/*==========  section  ==========*/
/*==========  section end  ==========*/
/*==========  section category ==========*/
.category-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.category-item {
  margin: 0 0 30px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: #fff;
  padding: 8px 11px 12px;
  text-align: center;
  color: #222;
  border: 2px solid transparent;
  -webkit-transition: .3s ease;
  transition: .3s ease; }
  .category-item__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100px;
    margin: 0 auto; }
    .category-item__img img {
      max-height: 100%;
      -webkit-transition: 1s ease;
      transition: 1s ease; }
  .category-item__name {
    color: #222;
    text-align: center;
    margin: 0 auto; }
  .category-item:hover {
    -webkit-box-shadow: 0px 10px 21px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0px 10px 21px 0 rgba(0, 0, 0, 0.2);
    border: solid 2px #00a4e5; }
    .category-item:hover .category-item__img img {
      -webkit-transform: scale3d(1.1, 1.1, 1);
              transform: scale3d(1.1, 1.1, 1); }
    .category-item:hover .category-item__name {
      color: #00a4e5; }

/*==========  section category end  ==========*/
/*==========  section clients ==========*/
.clients {
  margin: 45px 0 0; }
  .clients h3 {
    font-size: 24px;
    text-transform: uppercase;
    width: 100%;
    margin: 0 0 40px; }

.clients-slider {
  margin: 0 0 44px;
  padding: 0 43px; }
  .clients-slider .slick-slide {
    padding: 0 13px; }
  .clients-slider .slick-arrow {
    width: 16px;
    height: 25px; }
    .clients-slider .slick-arrow:hover {
      opacity: .3; }
  .clients-slider .slick-prev {
    background: url("../img/left-arrow.svg") no-repeat center;
      background-size: 100%;
    left: 0; }
  .clients-slider .slick-next {
    background: url("../img/right-arrow.svg") no-repeat center;
      background-size: 100%;
    right: 0; }

/*==========  section end  ==========*/
/*==========  404  ==========*/
.error-page .box-text {
  text-align: center;
  margin: 0 auto;
  font-size: 18px; }

.error-image {
  width: 100%; }
  .error-image img {
    width: 100%; }

.links-home {
  font-size: 24px;
  margin: 26px auto 0; }

/*==========  404 end  ==========*/
/*==========  certificates  ==========*/
.certificate-item {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  border: solid 1px #e8e8e8; }
  .certificate-item img {
    width: 100%; }
  .certificate-item:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.68) url("../img/search+.png") no-repeat center;
      background-size: 24px;
    opacity: 0;
    -webkit-transition: .3s ease;
    transition: .3s ease; }
  .certificate-item:hover:before {
    opacity: 1; }

/*==========  certificates end  ==========*/
/*==========  certificates  ==========*/
.certificate-wrapper-content .item {
  display: none; }
  .certificate-wrapper-content .item:nth-child(-n+10) {
    display: block; }

/*==========  certificates end  ==========*/
/*==========  sales  ==========*/
.sales-page-item {
  width: 100%;
  margin: 0 0 50px; }
  .sales-page-item__title {
    margin: 0 0 20px;
    width: 100%;
    font-size: 24px; }
  .sales-page-item img {
    width: 100%; }

/*==========  sales end  ==========*/
/*==========  availability-page  ==========*/
.table td, .table th {
  vertical-align: middle;
  border: solid 1px #d9d9d9;
  text-align: center; }

.table td {
  background: #fff;
  padding: 10px 17px; }

.table th {
  background: #f2f2f2;
  text-align: center;
  vertical-align: middle; }

.table thead {
  color: #666;
  border: none; }
  .table thead th {
    border: solid 1px #d9d9d9;
    padding: 9px 30px; }

.table tbody {
  border: none; }

.btn-order {
  margin: 0 auto; }

.availability-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 150px;
  width: 100%; }
  .availability-photo img {
    width: 100%; }

.description-text {
  max-width: 415px;
  text-align: left; }

/*==========  availability-page end  ==========*/
/*==========  completed-objects page  ==========*/
.completed-objects-box {
  width: 100%;
  position: relative;
  z-index: 1;
  color: #fff;
  font-size: 16px; }
  .completed-objects-box:hover {
    color: #fff; }
    .completed-objects-box:hover .completed-objects-box__body {
      opacity: 1; }
  .completed-objects-box img {
    width: 100%; }
  .completed-objects-box__body {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    padding: 50px 45px;
    background: rgba(0, 0, 0, 0.8);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    opacity: 0; }
    .completed-objects-box__body:before {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      width: calc(100% - 50px);
      height: calc(100% - 50px);
      z-index: -1;
      border: solid 6px rgba(255, 255, 255, 0.15); }
  .completed-objects-box__name {
    font-size: 24px;
    text-transform: uppercase;
    margin: 0 0 auto; }
  .completed-objects-box__characteristics {
    color: #e8e8e8; }
    .completed-objects-box__characteristics span {
      display: block; }

.table-requisites {
  font-size: 15px; }
  .table-requisites td {
    padding: 10px 14px;
    text-align: left; }
  .table-requisites tr:nth-child(even) td {
    background: #f5f5f5; }

/*==========  completed-objects page end  ==========*/
/*==========  reviews-page page  ==========*/
.reviews-page .video-reviews-col:nth-child(-n+6) {
  display: none; }

.reviews-page .video-reviews-col:nth-child(-n+4) {
  display: block; }

/*==========  reviews-page page end  ==========*/
/*==========  our-team-page  ==========*/
.our-team-page .box-text {
  color: #666; }

.our-team-page ul {
  margin: 30px 0 0; }

.company-faces {
  margin: 75px 0; }

.our-team-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -12px; }

.our-team-col {
  width: 100%;
  height: 180px;
  position: relative; }
  .our-team-col:hover {
    z-index: 1; }
    .our-team-col:hover .our-team-box {
      width: 394px;
      -webkit-box-shadow: 0 3px 21px 0 rgba(0, 0, 0, 0.2);
              box-shadow: 0 3px 21px 0 rgba(0, 0, 0, 0.2); }
      .our-team-col:hover .our-team-box__body {
        opacity: 1; }

.our-team-box {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: .7s ease;
  transition: .7s ease; }
  .our-team-box img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }
  .our-team-box__body {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    color: #fff;
    padding: 10px;
    border: 2px solid #00a4e5;
    font-size: 15px;
    opacity: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(#00a4e5));
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #00a4e5 100%); }
  .our-team-box__name {
    font-size: 18px;
    margin: 0 0 5px; }
  .our-team-box__slogan {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    padding: 9px 0 0;
    margin: 6px 0 0;
    line-height: 1.2; }

.company-faces .box-text {
  color: #666;
  margin: 0 0 37px; }

/*==========  our-team-page end  ==========*/
/*==========  certificates  ==========*/
/*==========  certificates end  ==========*/
/*==========  certificates  ==========*/
/*==========  certificates end  ==========*/
/*==========  certificates  ==========*/
/*==========  certificates end  ==========*/
