/*==========  search  ==========*/
.search-page {
  margin: 0 0 100px; }
  .search-page .form-search input {
    border: solid 1px #c7c7c7;
    height: 50px;
    padding: 0 26px; }
    .search-page .form-search input::-webkit-input-placeholder {
      color: #b8b8b8; }
    .search-page .form-search input::-moz-placeholder {
      color: #b8b8b8; }
    .search-page .form-search input::-ms-input-placeholder {
      color: #b8b8b8; }
    .search-page .form-search input::placeholder {
      color: #b8b8b8; }

.search-result-val {
  margin: 13px 0 33px;
  color: #404040; }

.search-result-col {
  width: 100%;
  margin: 0 0 80px; }
  .search-result-col:last-child {
    margin: 0; }
  .search-result-col h3 {
    text-transform: uppercase;
    color: #00a4e5;
    margin: 0 0 35px;
    font-size: 30px; }

.search-result-box {
  margin: 0 0 34px;
  padding: 0 0 30px;
  border-bottom: 1px solid #e8e8e8; }
  .search-result-box__description {
    font-size: 17px;
    color: #666;
    line-height: 1.35; }
  .search-result-box__name {
    font-size: 24px;
    margin: 0 0 18px;
    color: #222; }
    .search-result-box__name:hover {
      color: #00a4e5; }
  .search-result-box:last-child {
    margin: 0; }

/*==========  search end  ==========*/
/*==========  thanks page ==========*/
.certificates {
  margin: 100px 0; }

.video-reviews {
  position: relative;
  width: 100%;
  padding-top: 56.25%; }
  .video-reviews iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0; }

.video-reviews-col {
  display: none; }
  .video-reviews-col:nth-child(-n+6) {
    display: block; }

.thanks-page .box-text {
  font-size: 26px;
  color: #222; }

.subscribe-social {
  margin: 84px auto 0;
  width: 100%;
  border: solid 2px #0099e1;
    border-radius: 5px;
  position: relative;
  padding: 0 20px 32px;
  max-width: 665px; }
  .subscribe-social__title {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0 20px;
    background: #fff;
    font-size: 22px;
    margin: -15px auto 0; }

.list-subscribe-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 29px auto 0; }
  .list-subscribe-social li {
    margin: 0 19px 0 0; }
    .list-subscribe-social li:last-child {
      margin: 0; }
    .list-subscribe-social li a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      border-radius: 50%;
      color: #fff;
      font-size: 20px;
      background: #05779c;
      width: 45px;
      height: 45px;
      min-width: 45px; }
      .list-subscribe-social li a:hover {
        background: #00a4e5; }

/*==========  thanks page end  ==========*/
