@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: normal;
  background: #fff;
  color: #666; }

html, body {
  overflow-x: hidden; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center; }

a {
  display: block;
  text-decoration: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  outline: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content; }
  a:hover, a:focus {
    text-decoration: none; }

input, textarea, select {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "PT Sans Narrow", sans-serif;
  border: solid 1px #d9d9d9;
    border-radius: 3px;
  width: 100%;
  height: 46px;
  color: #666;
  font-size: 16px; }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, select::-webkit-input-placeholder {
    color: #666; }
  input::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder {
    color: #666; }
  input::-ms-input-placeholder, textarea::-ms-input-placeholder, select::-ms-input-placeholder {
    color: #666; }
  input::placeholder, textarea::placeholder, select::placeholder {
    color: #666; }
  input:hover, textarea:hover, select:hover {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none; }

.select {
  border: none;
  padding: 0 20px;
  cursor: pointer; }

.form-consultation label {
  margin: 0 0 30px; }

.form-consultation input {
  border: none; }

.form-consultation button {
  max-width: 345px;
  margin: 0 auto; }

.form-consultation .checkbox {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

label {
  display: block;
  width: 100%;
  margin: 0 0 15px; }

.checkbox {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.inp-check {
  display: none; }

.checkbox-custom {
  width: 14px;
  height: 14px;
  min-width: 14px;
  background: #00a4e5;
  margin: 3px 8px 0 0;
  border-radius: 3px;
  position: relative;
  cursor: pointer; }
  .checkbox-custom:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 10px;
    height: 9px;
    background: url("../img/check.png") no-repeat center;
      background-size: 100%;
    opacity: 0; }

.inp-check:checked + .checkbox-custom:before {
  opacity: 1; }

.form button {
  width: 100%;
  height: 45px;
  font-size: 18px;
  font-weight: bold;
  font-family: "PT Sans Narrow", sans-serif; }

button, .btn {
  outline: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  cursor: pointer;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-family: "PT Sans Narrow", sans-serif;
  padding: 0;
  margin: 0;
  border: none;
    border-radius: 0; }
  button:hover, button:focus, .btn:hover, .btn:focus {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none; }

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  text-transform: uppercase;
  padding: 0 15px; }

.btn-accent {
  color: #fff;
  background: #00a4e5; }

.btn-border {
  border: solid 1px #222;
    border-radius: 3px;
  background: #ffe14d;
  height: 34px;
  color: #222; }
  .btn-border:hover {
    background: #222;
    color: #fff; }

.btn-green {
  border-style: solid;
  border-width: 2px;
  border-image-source: linear-gradient(to left, #72c55a, #72c55a);
  border-image-slice: 1;
  background-image: -webkit-gradient(linear, left top, right top, from(#4ba442), to(#76cd57)), -webkit-gradient(linear, left top, right top, from(#000), color-stop(#72c55a), to(#72c55a));
  background-image: linear-gradient(to right, #4ba442, #76cd57), linear-gradient(to right, #000, #72c55a, #72c55a);
  padding: 0 28px;
  height: 50px;
  color: #fff;
  font-size: 15px;
  font-family: "PT Sans", sans-serif; }
  .btn-green:hover {
    color: #fff;
    background-image: -webkit-gradient(linear, right top, left top, from(#4ba442), to(#76cd57)), -webkit-gradient(linear, right top, left top, from(#000), color-stop(#72c55a), to(#72c55a));
    background-image: linear-gradient(to left, #4ba442, #76cd57), linear-gradient(to left, #000, #72c55a, #72c55a); }

.btn-blue {
  border-style: solid;
  border-width: 2px;
  border-image-source: linear-gradient(to right, #00a3e2, #0981b0);
  border-image-slice: 1;
  background-image: -webkit-gradient(linear, right top, left top, from(#00a3e2), to(#0981b0)), -webkit-gradient(linear, right top, left top, from(#00a3e2), to(#039ad4));
  background-image: linear-gradient(to left, #00a3e2, #0981b0), linear-gradient(to left, #00a3e2, #039ad4);
  padding: 0 28px;
  height: 50px;
  color: #fff;
  font-size: 15px;
  font-family: "PT Sans", sans-serif; }
  .btn-blue:hover {
    color: #fff;
    background-image: -webkit-gradient(linear, left top, right top, from(#00a3e2), to(#0981b0)), -webkit-gradient(linear, left top, right top, from(#00a3e2), to(#039ad4));
    background-image: linear-gradient(to right, #00a3e2, #0981b0), linear-gradient(to right, #00a3e2, #039ad4); }

.btn-red {
  color: #fff;
  background: #e7222b;
  border-radius: 10px;
  height: 34px;
  text-transform: none;
  font-size: 16px;
  font-family: "PT Sans Narrow", sans-serif;
  padding: 11px 23px; }
  .btn-red:hover {
    background: #ffe14d;
    color: #000; }

.btn-border-grey {
  background: #fff;
  padding: 0 45px;
  border: 1px solid #e8e8e8;
    border-radius: 0;
  text-transform: none;
  font-size: 18px; }
  .btn-border-grey:hover {
    background: #00a4e5;
    color: #fff; }

.btn-grey {
  background: #d9d9d9;
  padding: 0 30px;
  color: #222;
  font-size: 16px;
  border: none;
    border-radius: 3px;
  position: relative;
  overflow: hidden;
  z-index: 1; }
  .btn-grey:hover {
    color: #fffefe;
    -webkit-box-shadow: 0 9px 14px 0 rgba(0, 0, 0, 0.19);
            box-shadow: 0 9px 14px 0 rgba(0, 0, 0, 0.19); }
    .btn-grey:hover:before {
      width: 100%;
      left: 0; }
  .btn-grey:before {
    content: '';
    position: absolute;
    left: -4px;
    top: 0;
    width: 0;
    height: 100%;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    z-index: -1;
    background-image: -webkit-gradient(linear, right top, left top, from(#00a3e2), to(#0981b0)), -webkit-gradient(linear, left bottom, left top, from(#00a3e2), to(#039ad4));
    background-image: linear-gradient(to left, #00a3e2, #0981b0), linear-gradient(to top, #00a3e2, #039ad4);
    border-image-source: linear-gradient(to left, #00a3e2, #039ad4);
    border-image-slice: 1;
    background-origin: border-box;
    background-clip: content-box, border-box;
    border-width: 2px;
    border-style: solid;
    border-radius: 3px; }

.btn-sm {
  height: 36px;
  font-size: 14px; }

.btn-md {
  height: 45px; }

.btn-toggle {
  margin: 14px auto 0;
  max-width: 202px;
  width: 100%;
  padding: 0; }

.svg-icon {
  display: inline-block;
  width: 100%;
  height: 100%; }

strong, b {
  font-weight: bold;
  display: inline-block; }

ul {
  padding-left: 40px; }

ol {
  padding-left: 20px; }

.my-ul {
  list-style: none;
  padding: 0; }

.container {
  max-width: 1230px; }

.color-white {
  color: #fff; }

a.color-white:hover {
  color: #ffe14d; }

.color-accent {
  color: #00a4e5; }

a.color-accent:hover {
  color: #666; }

.color-grey {
  color: #666; }

a.color-grey:hover {
  color: #00a4e5; }

.color-green {
  color: #7fe441; }

.border-dotted {
  border-bottom: 1px dotted #666; }

.d-inline {
  display: inline-block; }

.text-decoration {
  text-decoration: underline; }

.slick-arrow {
  z-index: 1;
  opacity: 1;
  padding: 0;
  border: none;
    border-radius: 0;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%); }

.slick-slider {
  width: 100%; }

.slick-slide {
  outline: none; }

.box-text {
  font-size: 18px;
  line-height: 1.6; }
  .box-text p {
    margin: 0 0 25px; }
    .box-text p:last-child {
      margin: 0; }
  .box-text ul {
    margin: 0 0 25px; }

.mb-15 {
  margin-bottom: 15px; }

.mb-18 {
  margin-bottom: 18px; }

.mb-24 {
  margin-bottom: 24px; }

.mb-30 {
  margin-bottom: 30px; }

.mb-100 {
  margin-bottom: 100px; }

h1 {
  font-size: 32px;
  text-transform: uppercase;
  width: 100%;
  margin: 0 0 40px; }

h2 {
  width: 100%;
  text-transform: uppercase;
  margin: 0 0 27px;
  font-size: 24px; }

h1, h2, h3, h4, h5, h6, table tr th, table tr td {
  color: #222;
  line-height: normal; }

.links-all {
  font-size: 24px; }

.breadcrumb-nav {
  width: 100%;
  margin: 0 0 30px; }

.breadcrumb {
  margin: 0;
  background: #e8e8e8;
  border-radius: 3px;
  padding: 7px 20px;
  color: #222222;
  font-size: 16px;
  font-family: "PT Sans Narrow", sans-serif; }

.breadcrumb-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }
  .breadcrumb-item a {
    color: #00a4e5; }
    .breadcrumb-item a:hover {
      color: #222; }

.breadcrumb-item + .breadcrumb-item {
  padding: 0; }
  .breadcrumb-item + .breadcrumb-item:before {
    content: '\f054';
    padding: 0;
    margin: 5px 5px 0;
    color: #222;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 13px; }

.breadcrumb-item.active {
  color: #222222; }

.wrapper-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -9px; }
  .wrapper-content .item {
    width: 20%;
    padding: 0 9px; }

.sorting-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 30px; }

.sorting-item {
  text-align: center;
  background: #e8e8e8;
  border-radius: 2px;
  margin: 0 12px 12px 0;
  padding: 7px 37px;
  color: #222; }
  .sorting-item:hover {
    color: #00a4e5; }
  .sorting-item.active {
    background: #00a4e5;
    color: #fff; }

.nav-pagination {
  width: 100%;
  margin: 24px auto 0; }

.pagination {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border: none;
    border-radius: 0;
  font-size: 18px; }
  .pagination .page-link {
    border: none;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #222;
    width: 40px;
    height: 40px;
    background: #e8e8e8; }
    .pagination .page-link:hover {
      background: #00a4e5;
      color: #fff; }
  .pagination .page-item {
    margin: 0 10px 0 0; }
    .pagination .page-item:last-child {
      margin: 0; }
    .pagination .page-item.active .page-link {
      background: #00a4e5;
      color: #fff; }

.page-item:first-child .page-link, .page-item:last-child .page-link {
  border-radius: 0; }

.links-print {
  font-size: 18px;
  margin: 0 0 8px auto; }

.title-decor {
  text-transform: none;
  border-left: 6px solid #8ad5f1;
  padding: 0 0 0 12px;
  line-height: 1.25;
  margin: 0 0 56px; }

.fix {
  position: fixed;
  z-index: 2; }
