@import "vars"

/*==========  section home ==========*/
.home
  margin: 0 0 16px

.home-item
  width: 100%
  display: flex
  align-items: center
  justify-content: center

  img
    width: 100%

.home-slider
  .slick-arrow
    width: 35px
    height: 35px
    border-radius: 50%

  .slick-prev
    left: 24px
    background: url("../img/slick-prev.png") no-repeat center
      size: 100%

  .slick-next
    right: 24px
    background: url("../img/slick-next.png") no-repeat center
      size: 100%

.banner
  margin: 0 0 0 auto
  display: flex
  align-items: center

.home-content
  color: #666

  h2, h1
    color: #222

.order-cabins
  h1
    text-align: center

.construction
  margin: 14px 0 18px

  h2
    margin: 0 0 14px

.btn-play
  position: absolute
  left: 50%
  top: 50%
  transform: translate(-50%, -50%)
  z-index: 1
  max-width: 68px
  width: 100%
  filter: grayscale(100%)
  opacity: .5

  &:hover
    opacity: 1
    filter: none

.video-wrapper
  width: 100%
  background: #e8e8e8
  padding-top: 52.55%
  position: relative

  iframe
    width: 100%
    height: 100%
    position: absolute
    left: 0
    top: 0

.advantages-home
  margin: 40px 0 0

.advantages-home-box
  text-align: center
  margin: 0 0 40px
  font-size: 22px

  &__icon
    display: flex
    align-items: center
    justify-content: center
    margin: 0 auto 10px
    height: 66px

    img
      max-height: 100%

.selling
  > .box-text
    margin: 0 0 40px

.selling-box
  display: flex
  align-items: flex-start
  margin: 0 0 49px
  line-height: 1.88

  &__icon
    margin: 10px 40px 0 0
    width: 51px
    min-width: 51px

.selling-cities
  width: 100%
  display: flex
  align-items: center
  flex-wrap: wrap
  margin: 0 0 20px
  &-row
    width: 100%
    display: flex
    align-items: center
    justify-content: space-around
    flex-wrap: wrap

    >p
      margin: 0 0 30px

.selling-cities-box
  display: flex
  align-items: center
  margin: 0 0 30px
  &__icon
    margin: 0 15px 0 0

.advantages
  margin: 40px 0 0

  > .box-text
    margin: 0 0 40px

.advantages-box
  display: flex
  align-items: flex-start
  line-height: 1.56
  margin: 0 0 30px

  &__icon
    display: flex
    align-items: center
    justify-content: center
    min-width: 43px
    margin: 0 25px 0 0
    max-width: 43px

/*==========  section home end  ==========*/


/*==========  section  ==========*/

/*==========  section end  ==========*/



/*==========  section  ==========*/

/*==========  section end  ==========*/



/*==========  section  ==========*/

/*==========  section end  ==========*/


/*==========  section  ==========*/

/*==========  section end  ==========*/



/*==========  section  ==========*/

/*==========  section end  ==========*/



/*==========  section category ==========*/
.category-wrapper
  width: 100%
  display: flex
  align-items: flex-start
  flex-wrap: wrap
  justify-content: space-between

.category-item
  margin: 0 0 22px
  flex: 1
  background: #fff
  padding: 8px 11px 12px
  text-align: center
  color: #222
  border: 2px solid transparent

  &__img
    display: flex
    align-items: flex-start
    justify-content: center
    height: 100px

    img
      max-height: 100%

  &:hover
    box-shadow: 0px 10px 21px 0 rgba(0, 0, 0, 0.2)
    border: solid 2px #00a4e5
    color: $accent
/*==========  section category end  ==========*/



/*==========  section clients ==========*/
.clients
  margin: 45px 0 0

  h2
    margin: 0 0 40px

.clients-slider
  margin: 0 0 44px
  padding: 0 43px

  .slick-slide
    padding: 0 13px

  .slick-arrow
    width: 16px
    height: 25px

    &:hover
      opacity: .3

  .slick-prev
    background: url("../img/left-arrow.svg") no-repeat center
      size: 100%
    left: 0

  .slick-next
    background: url("../img/right-arrow.svg") no-repeat center
      size: 100%
    right: 0

/*==========  section end  ==========*/