@import "vars"

/*==========  section home ==========*/
.home
  margin: 13px 0 16px

.home-item
  width: 100%
  display: flex
  align-items: center
  justify-content: center

  img
    width: 100%

.home-slider
  .slick-arrow
    width: 35px
    height: 35px
    border-radius: 50%

  .slick-prev
    left: 24px
    background: url("../img/slick-prev.png") no-repeat center
      size: 100%

  .slick-next
    right: 24px
    background: url("../img/slick-next.png") no-repeat center
      size: 100%

.banner
  margin: 0 0 0 auto
  display: flex
  align-items: center


.order-cabins
  h1
    text-align: center

.construction
  margin: 14px 0 18px

  h2
    margin: 0 0 14px

.btn-play
  position: absolute
  left: 50%
  top: 50%
  transform: translate(-50%, -50%)
  z-index: 1
  max-width: 68px
  width: 100%
  filter: grayscale(100%)
  opacity: .5

  &:hover
    opacity: 1
    filter: none

.video-wrapper
  width: 100%
  background: #e8e8e8
  padding-top: 52.55%
  position: relative

  iframe
    width: 100%
    height: 100%
    position: absolute
    left: 0
    top: 0

.video-row
  width: 100%
  display: flex
  align-items: flex-start
  flex-wrap: wrap
  justify-content: space-between
  .video-wrapper
    width: calc(50% - 5px)
    padding-top: 29%

.video-col
  width: calc(50% - 5px)
  display: flex
  align-items: flex-start
  justify-content: space-between
  flex-wrap: wrap
  .video-wrapper
    padding-top: 28%
    margin: 0 0 10px

.advantages-home
  margin: 40px 0 0

.advantages-home-box
  text-align: center
  margin: 0 0 40px
  font-size: 22px

  &__icon
    display: flex
    align-items: center
    justify-content: center
    margin: 0 auto 10px
    height: 66px

    img
      max-height: 100%

.selling
  > .box-text
    margin: 0 0 40px

.selling-box
  display: flex
  align-items: flex-start
  margin: 0 0 49px
  line-height: 1.88

  &__icon
    margin: 10px 40px 0 0
    width: 51px
    min-width: 51px

.selling-cities
  width: 100%
  display: flex
  align-items: center
  flex-wrap: wrap
  margin: 0 0 20px
  &-row
    width: 100%
    display: flex
    align-items: center
    justify-content: space-around
    flex-wrap: wrap

    >p
      margin: 0 0 30px

.selling-cities-box
  display: flex
  align-items: center
  margin: 0 0 30px
  &__icon
    margin: 0 15px 0 0

.advantages
  margin: 40px 0 0

  > .box-text
    margin: 0 0 40px

.advantages-box
  display: flex
  align-items: flex-start
  line-height: 1.56
  margin: 0 0 30px

  &__icon
    display: flex
    align-items: center
    justify-content: center
    min-width: 43px
    margin: 0 25px 0 0
    max-width: 43px

/*==========  section home end  ==========*/


/*==========  section  ==========*/

/*==========  section end  ==========*/



/*==========  section  ==========*/

/*==========  section end  ==========*/



/*==========  section  ==========*/

/*==========  section end  ==========*/


/*==========  section  ==========*/

/*==========  section end  ==========*/



/*==========  section  ==========*/

/*==========  section end  ==========*/



/*==========  section category ==========*/
.category-wrapper
  width: 100%
  display: flex
  align-items: flex-start
  flex-wrap: wrap
  justify-content: space-between

.category-item
  margin: 0 0 30px
  flex: 1
  background: #fff
  padding: 8px 11px 12px
  text-align: center
  color: #222
  border: 2px solid transparent
  transition: .3s ease
  &__img
    display: flex
    align-items: flex-start
    justify-content: center
    height: 100px
    margin: 0 auto
    img
      max-height: 100%
      transition: 1s ease
  &__name
    color: #222
    text-align: center
    margin: 0 auto
  &:hover
    box-shadow: 0px 10px 21px 0 rgba(0, 0, 0, 0.2)
    border: solid 2px #00a4e5
    .category-item__img
      img
        transform: scale3d(1.1,1.1,1)
    .category-item__name
      color: $accent
/*==========  section category end  ==========*/



/*==========  section clients ==========*/
.clients
  margin: 45px 0 0

  h3
    font-size: 24px
    text-transform: uppercase
    width: 100%
    margin: 0 0 40px


.clients-slider
  margin: 0 0 44px
  padding: 0 43px

  .slick-slide
    padding: 0 13px

  .slick-arrow
    width: 16px
    height: 25px

    &:hover
      opacity: .3

  .slick-prev
    background: url("../img/left-arrow.svg") no-repeat center
      size: 100%
    left: 0

  .slick-next
    background: url("../img/right-arrow.svg") no-repeat center
      size: 100%
    right: 0

/*==========  section end  ==========*/

/*==========  404  ==========*/
.error-page
  .box-text
    text-align: center
    margin: 0 auto
    font-size: 18px

.error-image
  width: 100%
  img
    width: 100%


.links-home
  font-size: 24px
  margin: 26px auto 0
/*==========  404 end  ==========*/

/*==========  certificates  ==========*/
.certificate-item
  width: 100%
  height: 100%
  display: flex
  align-items: center
  justify-content: center
  position: relative
  transition: .3s ease
  border: solid 1px #e8e8e8
  img
    width: 100%
  &:before
    content: ''
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    background: rgba(#000, 0.68) url("../img/search+.png") no-repeat center
      size: 24px
    opacity: 0
    transition: .3s ease
  &:hover
    &:before
      opacity: 1
/*==========  certificates end  ==========*/



/*==========  certificates  ==========*/
.certificate-wrapper-content
  .item
    display: none
    &:nth-child(-n+10)
      display: block
/*==========  certificates end  ==========*/


/*==========  sales  ==========*/
.sales-page-item
  width: 100%
  margin: 0 0 50px
  &__title
    margin: 0 0 20px
    width: 100%
    font-size: 24px
  img
    width: 100%
/*==========  sales end  ==========*/

/*==========  availability-page  ==========*/
.table
  td, th
    vertical-align: middle
    border: solid 1px #d9d9d9
    text-align: center
  td
    background: #fff
    padding: 10px 17px
  th
    background: #f2f2f2
    text-align: center
    vertical-align: middle
  thead
    border: none
    th
      border: solid 1px #d9d9d9
      padding: 9px 30px
  tbody
    border: none

.btn-order
  margin: 0 auto

.availability-photo
  display: flex
  align-items: center
  justify-content: center
  max-width: 150px
  width: 100%
  img
    width: 100%

.description-text
  max-width: 415px
  text-align: left
/*==========  availability-page end  ==========*/


/*==========  reviews-page page  ==========*/
.reviews-page
  .video-reviews-col
    &:nth-child(-n+6)
      display: none
    &:nth-child(-n+4)
      display: block
/*==========  reviews-page page end  ==========*/


/*==========  our-team-page  ==========*/
.our-team-page
  ul
    margin: 30px 0 0


.company-faces
  margin: 75px 0

.our-team-wrapper
  display: flex
  align-items: flex-start
  flex-wrap: wrap
  margin: 0 -12px

.our-team-col
  width: 100%
  height: 180px
  position: relative
  &:hover
    z-index: 1
    .our-team-box
      width: 394px
      box-shadow: 0 3px 21px 0 rgba(0, 0, 0, 0.2)
      &__body
        opacity: 1

.our-team-box
  width: 100%
  height: 100%
  position: absolute
  left: 0
  top: 0
  display: flex
  align-items: center
  justify-content: center
  transition: .7s ease
  img
    width: 100%
    height: 100%
    object-fit: cover
  &__body
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    transition: .3s ease
    z-index: 1
    display: flex
    flex-direction: column
    align-items: flex-start
    justify-content: flex-end
    color: #fff
    padding: 10px
    border: 2px solid $accent
    font-size: 15px
    opacity: 0
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(0,164,229,1) 100%)
  &__name
    font-size: 18px
    margin: 0 0 5px
  &__slogan
    border-top: 1px solid rgba(#fff, .5)
    padding: 9px 0 0
    margin: 6px 0 0
    line-height: 1.2

.company-faces
  .box-text
    margin: 0 0 37px

/*==========  our-team-page end  ==========*/



/*==========  delivery  ==========*/
.nav-tabs
  justify-content: center
  margin: 0 0 30px
  border-bottom: 1px solid #e7e7e7
  font-size: 20px
  .nav-link
    color: #222
    padding: 0 70px 6px
    border: none
      radius: 0
    position: relative
    margin-bottom: -2px
    &:before
      content: ''
      position: absolute
      left: 0
      bottom: 0
      height: 3px
      background: $accent
      transition: .3s ease
    &.active
      background: transparent
      color: #222
      &:before
        width: 100%

.delivery-page
  .tab-content
    font-size: 18px
    .box-text
      margin: 0 0 30px

    h2
      color: #222
      margin: 0 0 30px
    span
      margin: 20px 0 0
      display: block

.map-wrapper
  width: 100%
  margin: 27px 0 0

/*==========  delivery end  ==========*/


/*==========  services page  ==========*/
.services-box
  width: 100%
  height: 100%
  color: #222
  font-size: 18px
  text-align: center
  background: #f6f6f6
  border: 2px solid transparent
  &__img
    display: flex
    align-items: center
    justify-content: center
    height: 180px
    width: 100%
    img
      width: 100%
      height: 100%
      object-fit: cover
  &__body
    display: block
    width: 100%
    padding: 18px 10px
  &:hover
    box-shadow: 0px 10px 21px 0 rgba(0, 0, 0, 0.2)
    border: solid 2px #00a4e5
    color: $accent
    background: #fff
/*==========  services page end  ==========*/


/*==========  contacts page  ==========*/
.contacts-wrapper
  margin: 0 0 60px
  width: 100%
  border: solid 5px rgba(#e8e8e8, .4)
  background: #fff
  padding: 30px 70px

.contacts-box
  text-align: center
  font-size: 18px
  color: #999999
  a
    color: #242424
    font-size: 22px
    margin: 10px auto 0
    &:hover
      color: $accent
  &__icon
    margin: 0 auto 18px
    display: flex
    align-items: center
    justify-content: center
    img
      max-width: 26px
      margin: 0 18px 0 0
      &:last-child
        margin: 0
  .list-subscribe-social
    margin: 17px 0 0
    li
      margin: 0 7px 0 0

    a
      font-size: 14px
      width: 33px
      height: 33px
      min-width: 33px
      margin: 0
  h3
    font-size: 22px
    color: #222

.contacts-employees
  width: 100%
  display: flex
  align-items: flex-start
  justify-content: space-around
  flex-wrap: wrap

.employees-box
  display: flex
  align-items: center
  margin: 0 0 30px
  &__photo
    display: flex
    align-items: center
    overflow: hidden
    border-radius: 50%
    width: 165px
    height: 165px
  &__body
    width: calc(100% - 165px)
    padding: 0 0 0 28px
  .position
    font-size: 24px
    color: #222
  .name
    margin: 10px 0 22px
    font-size: 18px
  &-links
    display: flex
    align-items: center
    color: #666
    &:hover
      color: $accent
    &__icon
      display: flex
      align-items: center
      max-width: 20px
      min-width: 20px
      margin: 0 7px 0 0

.branches
  margin: 70px 0 88px

.branches-box
  margin: 0 0 50px
  font-size: 18px
  &__city
    margin: 0 0 10px
    color: #222
    font-size: 24px
  a.branches-box__city
    color: $accent
    text-decoration: underline
  &__phone
    color: #222
    margin: 15px 0 0
    &:hover
      color: $accent

.consultation
  h2
    margin: 0
    padding: 14px 0
    text-align: center
    background: #00a4e5
    color: #fff
    text-transform: none
    border-radius: 3px 3px 0 0
  .box-text
    text-align: center
    margin: 0 auto 40px

.consultation-body
  color: #fff
  padding: 45px 53px
  background: #343b42
  border-radius: 0 0 3px 3px


.map-city
  width: 100%
  min-height: 650px

.scheme-contacts
  margin: 0 0 0 auto
  display: flex
  align-items: center
  justify-content: flex-end

/*==========  contacts page end  ==========*/

/*==========  repair page  ==========*/
.consultation-wrapper
  border-radius: 3px
  margin: 0 auto 45px
  overflow: hidden
  max-width: 862px
  width: 100%
  .form-consultation
    label
      max-width: 368px
      margin: 0 auto 30px
    .checkbox
      justify-content: flex-start
    button
      max-width: 368px

.consultation-header
  width: 100%
  background: $accent
  line-height: 1
  color: #fff
  display: flex
  align-items: center
  justify-content: center
  font-size: 24px
  padding: 14px
  h3
    color: #fff
  img
    margin: 0 10px 0 0

.repair-section
  margin: 70px 0

.useful-details-img
  width: 100%
  img
    width: 100%
/*==========  repair page end  ==========*/


/*==========  useful-page  ==========*/

.useful-box
  width: 100%
  margin: 0 0 30px
  padding: 0 0 30px
  border-bottom: 3px solid #e8e8e8
  &__footer
    width: 100%
    display: flex
    align-items: center
    justify-content: space-between
    flex-wrap: wrap
    margin: 27px 0 0
  &__body
    width: 100%
    padding: 20px 0 0

  &__img
    width: 100%
    position: relative
  &__title
    position: absolute
    font-size: 30px
    background: #fff
    z-index: 1
    color: #222
    padding: 12px 16px
    left: 0
    top: 63px

.date
  display: flex
  align-items: center
  color: $accent
  font-size: 17px
  margin: 0 0 20px
  &-icon
    margin: 0 9px 0 0
    display: flex
    align-items: center

.share
  display: flex
  align-items: center
  p
    margin: 0 9px 0 0

.menu-right
  width: 100%
  &__title
    font-size: 24px
    margin: 0 0 20px
    color: #222
  ul
    line-height: 1.25
    padding: 0 0 0 20px
    margin: 0 0 30px
    li
      margin: 0 0 12px
      a
        color: #666
        &:hover
          color: $accent
        &.active
          color: $accent
  .tags-list
    padding: 0
    margin: 0
    line-height: normal
    li
      margin: 0 7px 7px 0

      a
        color: #222
  .consultation-wrapper
    margin: 43px 0 0
  .consultation-header
    padding: 14px 24px
  .consultation-body
    padding: 30px 24px
  .form-consultation
    label
      margin: 0 0 16px


.tags-list
  display: flex
  align-items: flex-start
  flex-wrap: wrap
  padding: 0
  font-size: 17px
  li
    margin: 0 7px 7px 0
    a
      padding: 5px 14px
      background: #e8e8e8
      color: #222

.table-buying
  font-size: 21px
  border: none
  margin: 0 0 45px
  tr
    border-bottom: 1px solid $accent
    &:last-child
      border: none
  td
    vertical-align: top
    padding: 19px 15px
    border: none
      right: 1px solid $accent
    &:last-child
      border: none
  ol
    text-align: left
    img
      margin: 0 5px -4px 3px
      display: inline-block
  .stage
    p
      text-transform: uppercase
      text-align: center
      font-size: 40px
      font-weight: bold
      color: #009fe4
      flex-flow: $font
  img
    margin: 0 auto 14px

/*==========  useful-page end  ==========*/


/*==========  company page  ==========*/
.company-page
  .box-text
    line-height: 1.33
    strong
      color: #222

.company-photo
  img
    width: 100%

.company-state
  margin: 70px 0
  width: 100%

.company-state-box
  width: 100%
  margin: 0 0 70px
  &:last-child
    margin: 0
  &__title
    display: flex
    align-items: center
    justify-content: center
    margin: 0 0 30px
    font-size: 24px
    text-transform: uppercase
    color: #222
    img
      margin: 0 12px 0 0
      max-width: 37px

.company-state-list
  li
    position: relative
    margin: 0 0 25px
    padding: 0 0 0 50px
    line-height: 30px
    &:before
      content: ''
      position: absolute
      left: 0
      top: 0
      width: 39px
      height: 40px
    &:last-child
      margin: 0

.workshop
  &:before
    background: url("../img/workshop.svg") no-repeat center
      size: 100%

.construction-and-tools
  &:before
    background: url("../img/construction-and-tools.svg") no-repeat center
      size: 100%

.wood
  &:before
    background: url("../img/wood.svg") no-repeat center
      size: 100%

.machine
  &:before
    background: url("../img/machine.svg") no-repeat center
      size: 100%

.factory
  &:before
    background: url("../img/factory.svg") no-repeat center
      size: 100%

.builder
  &:before
    background: url("../img/builder.svg") no-repeat center
      size: 100%

.truck
  &:before
    background: url("../img/truck.svg") no-repeat center
      size: 100%

.list-check
  li
    margin: 0 0 20px
    position: relative
    padding: 0 0 0 25px
    &:before
      content: ''
      position: absolute
      left: 0
      top: 8px
      width: 15px
      height: 11px
      background: url("../img/check-symbol.svg") no-repeat center
        size: 100%

.company-faces-wrapper
  width: 100%
  display: flex
  align-items: flex-start
  justify-content: space-around
  flex-wrap: wrap

.company-faces-item
  text-align: center
  width: 25%
  margin: 0 0 70px
  font-size: 14px
  color: #222
  line-height: 1.43
  &__photo
    border-radius: 50%
    display: flex
    align-items: center
    justify-content: center
    overflow: hidden
    width: 164px
    height: 164px
    margin: 19px auto 0
    background: rgba(#e0e0e0, .61)

.company-state-faces
  margin-bottom: 0

.company-state-history
  margin: 0

.list-history
  position: relative
  padding: 5px 0
  &:before
    content: ''
    position: absolute
    left: 6px
    top: 0
    height: 100%
    width: 4px
    background: #e1edf2
    border-radius: 2px
  li
    position: relative
    padding: 0 0 0 30px
    margin: 0 0 20px
    &:last-child
      margin: 0
    &:before
      content: ''
      position: absolute
      left: 0
      top: 5px
      width: 16px
      height: 16px
      border-radius: 50%
      background: #008cba

.logo-company
  display: flex
  align-items: center
  justify-content: center
  margin: 0 auto 20px

/*==========  company page end  ==========*/


/*==========  production-page  ==========*/

.production-slider
  .slick-arrow
    width: 16px
    height: 25px

    &:hover
      opacity: .7

  .slick-prev
    background: url("../img/left-arrow.svg") no-repeat center
      size: 100%
    left: 22px
  .slick-next
    background: url("../img/right-arrow.svg") no-repeat center
      size: 100%
    right: 22px

.why-company
  margin: 40px 0 100px

.why-company-wrapper
  width: 100%
  display: flex
  align-items: stretch
  flex-wrap: wrap
  margin: 0 0 40px

.why-company-box
  text-align: center
  text-transform: uppercase
  padding: 27px 20px
  font-size: 17px
  color: #3d3d3d
  line-height: 1.35
  width: 20%
  border: solid 1px #e8e8e8
  margin: -0.5px
  &__icon
    display: flex
    align-items: center
    justify-content: center
    height: 74px
    margin: 0 auto 25px
    img
      max-height: 100%

/*==========  production-page end  ==========*/


/*==========  development-dynamics  ==========*/
.years-line
  width: 100%
  display: flex
  align-items: flex-end
  justify-content: center
  flex-wrap: wrap
  font-size: 17px
  &__item
    color: #222
    margin: 0 30px 0 0
    line-height: 1
    &:last-child
      margin: 0
    &:hover
      color: $accent
    &.active
      color: $accent
      font-size: 24px

.coverage-map
  width: 100%
  img
    width: 100%

.dynamics-work
  width: 100%

.dynamics-work-item
  width: 100%
  display: flex
  align-items: flex-start
  margin: 0 0 40px
  &__photo
    display: flex
    align-items: center
    justify-content: center
    border: solid 5px #e8e8e8
    width: 208px
    height: 143px
    img
      width: 100%
      height: 100%
      object-fit: cover
  &:hover
    .dynamics-work-item__name
      color: $grey
  &__name
    width: calc(100% - 208px)
    padding: 0 0 0 29px
    color: #0097e1

.dynamic-history
  margin: 80px 0 35px

.dynamic-history-box
  padding: 0 0 0 21px
  position: relative
  margin: 0 0 65px
  line-height: 1.75
  &:before
    content: ''
    position: absolute
    left: 0
    top: 8px
    width: 12px
    height: 12px
    background: url("../img/evolution-arrow.png") no-repeat center
      size: 100%
  p
    max-width: 297px

/*==========  development-dynamics end  ==========*/


/*==========  useful-page   ==========*/
.content-box
  margin: 0 0 30px
  border: solid 3px #f5f5f5
  width: fit-content
  padding: 20px 36px 20px 20px
  h3
    margin: 0 0 20px
    font-size: 24px
  &-list
    font-size: 18px
    li
      margin: 0 0 10px
      &:last-child
        margin: 0
      a
        color: #222
        &:hover
          text-decoration: underline
          color: $accent
        &.active
          color: $accent
          text-decoration: underline


/*==========  useful-page end  ==========*/


/*==========  certificates  ==========*/
/*==========  certificates end  ==========*/


/*==========  certificates  ==========*/
/*==========  certificates end  ==========*/

/*==========  certificates  ==========*/
/*==========  certificates end  ==========*/


/*==========  certificates  ==========*/
/*==========  certificates end  ==========*/